# New notebook

## Data cleaning

In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle as pkl

sns.set()

from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score, train_test_split, KFold, GridSearchCV
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn import metrics
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.metrics import confusion_matrix, classification_report


# upload data
df = pd.read_csv('datacopy.csv')

In [85]:
# displaying coloums
result = df.head(0) 
print(result)

Empty DataFrame
Columns: [ResponseId, MainBranch, Employment, RemoteWork, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, LearnCodeCoursesCert, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, Country, Currency, CompTotal, CompFreq, LanguageHaveWorkedWith, LanguageWantToWorkWith, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, PlatformHaveWorkedWith, PlatformWantToWorkWith, WebframeHaveWorkedWith, WebframeWantToWorkWith, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, OpSysProfessional use, OpSysPersonal use, VersionControlSystem, VCInteraction, VCHostingPersonal use, VCHostingProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, Blockchain, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOComm, Age, Gender, Trans, Sexuality, Ethnicity, Accessibility, MentalHealth, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Onboarding, ProfessionalTech, TrueFalse_1, TrueFalse_2, TrueFalse_3, SurveyLength, SurveyEase, ConvertedCompYearly]
Index: []

[0 rows x 79 columns]

In [86]:
# drop colums "CodingActivities", "LearnCode", "LearnCodeOnline", "LearnCodeCoursesCert", "DevType" <- (this one
# will be too complicated to analise), "PurchaseInfluence", "BuyNewTool", "LanguageWantToWorkWith",
# "DatabaseHaveWorkedWith", "DatabaseWantToWorkWith", "PlatformHaveWorkedWith", "PlatformWantToWorkWith", 
# "WebframeHaveWorkedWith", "WebframeWantToWorkWith", "MiscTechHaveWorkedWith", "MiscTechWantToWorkWith",
# "ToolsTechHaveWorkedWith" <- (this one will be complicated to like split and analyse, but if we have 
# time, we can try), "ToolsTechWantToWorkWith", "NEWCollabToolsHaveWorkedWith", "NEWCollabToolsWantToWorkWith", 
# "OpSysProfessional use", "OpSysPersonal use", "VersionControlSystem", "VCInteraction", "VCHostingPersonal use",
# "VCHostingProfessional use", "OfficeStackAsyncHaveWorkedWith", "OfficeStackAsyncWantToWorkWith", 
# "OfficeStackSyncHaveWorkedWith", "OfficeStackSyncWantToWorkWith", "Blockchain", "NEWSOSites", "SOVisitFreq", 
# "SOAccount", "SOPartFreq", "SOComm", "TBranch", "ICorPM", "Knowledge_1", "Knowledge_2", "Knowledge_3",
# "Knowledge_4", "Knowledge_5", "Knowledge_6", "Knowledge_7", "Frequency_1", "Frequency_2", "Frequency_3", 
# "TimeSearching", "TimeAnswering", "Onboarding", "ProfessionalTech", "TrueFalse_1", TrueFalse_2", TrueFalse_3"
# "SurveyLength", "SurveyEase", "CompTotal", "CompFreq", "Currency"

df.drop(columns=["CodingActivities", "LearnCode", "LearnCodeOnline", "LearnCodeCoursesCert", "DevType",
                         "PurchaseInfluence", "BuyNewTool", "LanguageWantToWorkWith","DatabaseHaveWorkedWith", "DatabaseWantToWorkWith", "PlatformHaveWorkedWith", "PlatformWantToWorkWith", "WebframeHaveWorkedWith", "WebframeWantToWorkWith", "MiscTechHaveWorkedWith", "MiscTechWantToWorkWith",
                        "ToolsTechHaveWorkedWith","ToolsTechWantToWorkWith", "NEWCollabToolsHaveWorkedWith",
                        "NEWCollabToolsWantToWorkWith","OpSysProfessional use", "OpSysPersonal use",
                        "VersionControlSystem", "VCInteraction", "VCHostingPersonal use",
                        "VCHostingProfessional use", "OfficeStackAsyncHaveWorkedWith", "OfficeStackAsyncWantToWorkWith",
                        "OfficeStackSyncHaveWorkedWith", "OfficeStackSyncWantToWorkWith", "Blockchain", "NEWSOSites", "SOVisitFreq",
                        "SOAccount", "SOPartFreq", "SOComm", "TBranch", "ICorPM", "Knowledge_1", "Knowledge_2", "Knowledge_3",
                        "Knowledge_4", "Knowledge_5", "Knowledge_6", "Knowledge_7", "Frequency_1", "Frequency_2", "Frequency_3",
                        "TimeSearching", "TimeAnswering", "Onboarding", "ProfessionalTech", "TrueFalse_1", "TrueFalse_2", "TrueFalse_3",
                        "SurveyLength", "SurveyEase","CompTotal", "CompFreq","Currency"], inplace=True)
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,NaN,NaN,NaN,NaN,Canada,JavaScript;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,5,20 to 99 employees,United Kingdom of Great Britain and Northern I...,C#;C++;HTML/CSS;JavaScript;Python,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,17,100 to 499 employees,Israel,C#;JavaScript;SQL;TypeScript,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,NaN,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,3,20 to 99 employees,United States of America,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,5,100 to 499 employees,Nigeria,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,5.0,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,5,I don’t know,United States of America,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,6.0,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",42,33,20 to 99 employees,United States of America,HTML/CSS;JavaScript;PHP;Python;SQL,55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,42.0,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",50,31,10 to 19 employees,United Kingdom of Great Britain and Northern I...,C#;Delphi;VBA,55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,NaN,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",16,5,NaN,Canada,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN

In [87]:
#remove duplicates if we have any(we don't)
df = df.drop_duplicates()
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,NaN,NaN,NaN,NaN,Canada,JavaScript;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,5,20 to 99 employees,United Kingdom of Great Britain and Northern I...,C#;C++;HTML/CSS;JavaScript;Python,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,17,100 to 499 employees,Israel,C#;JavaScript;SQL;TypeScript,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,NaN,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,3,20 to 99 employees,United States of America,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,5,100 to 499 employees,Nigeria,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,5.0,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,5,I don’t know,United States of America,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,6.0,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",42,33,20 to 99 employees,United States of America,HTML/CSS;JavaScript;PHP;Python;SQL,55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,42.0,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",50,31,10 to 19 employees,United Kingdom of Great Britain and Northern I...,C#;Delphi;VBA,55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,NaN,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",16,5,NaN,Canada,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN

In [88]:
# removing colums that contain at least one NaN value
df = df.dropna()
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
11,12,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,10,20 to 99 employees,United States of America,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",14.0,194400.0
12,13,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,5,2 to 9 employees,United States of America,C;HTML/CSS;Rust;SQL;Swift;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,5.0,65000.0
14,15,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11,5,"5,000 to 9,999 employees",United States of America,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,5.0,110000.0
21,22,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,4,20 to 99 employees,Italy,Python;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,4.0,34126.0
22,23,I am a developer by profession,"Employed, full-time",Fully remote,Something else,25,20,100 to 499 employees,Canada,C#;SQL;TypeScript,35-44 years old,Man,No,Straight / Heterosexual,White;North American,None of the above,None of the above,23.0,97605.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",13,9,20 to 99 employees,Canada,C#;HTML/CSS;JavaScript;TypeScript,25-34 years old,Woman,No,Straight / Heterosexual,White;North American,None of the above,None of the above,9.0,60906.0
73112,73113,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",10,3,"10,000 or more employees",Austria,HTML/CSS;Java;JavaScript,25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,3.0,52255.0
73113,73114,I am a developer by profession,"Employed, full-time",Fully remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",7,5,"10,000 or more employees",United States of America,C;C#;C++,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,I have a concentration and/or memory disorder ...,7.0,94000.0
73116,73117,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",21,16,10 to 19 employees,United States of America,C#;HTML/CSS;Java;JavaScript,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,16.0,115000.0
73119,73120,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5,1,"5,000 to 9,999 employees",United States of America,C#;HTML/CSS;JavaScript;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,White,"Or, in your own words:",I have a concentration and/or memory disorder ...,9.0,70000.0

In [89]:
#let's display all unique values in MainBranch column
print('MainBranch: ', df['MainBranch'].unique())

MainBranch:  ['I am not primarily a developer, but I write code sometimes as part of my work'
 'I am a developer by profession']

In [90]:
df.loc[:,'MainBranch'].replace({'I am not primarily a developer, but I write code sometimes as part of my work' : 1,
            'I am a developer by profession': 2}, inplace=True)

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/439482263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'MainBranch'].replace({'I am not primarily a developer, but I write code sometimes as part of my work' : 1,

In [91]:
#let's display all unique values in MainBranch column
print('MainBranch: ', df['MainBranch'].unique())

MainBranch:  [1 2]

In [92]:
#remove spaces from the end and beggining 
df["Employment"] = df["Employment"].str.strip()
#idk why it throws a worning :(

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/2371203330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Employment"] = df["Employment"].str.strip()

In [93]:
#let's display all unique values in 'Employment' column
print('Employment: ', df['Employment'].unique())

Employment:  ['Employed, full-time;Independent contractor, freelancer, or self-employed'
 'Employed, full-time'
 'Independent contractor, freelancer, or self-employed'
 'Employed, part-time' 'Employed, full-time;Employed, part-time'
 'Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, part-time;Retired' 'Employed, full-time;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired']

In [94]:
df.loc[:,'Employment'].replace({'Employed, full-time;Independent contractor, freelancer, or self-employed':1,
'Employed, full-time':2, 'Independent contractor, freelancer, or self-employed':3, 'Employed, part-time' :4,
  'Employed, full-time;Employed, part-time':5, 'Independent contractor, freelancer, or self-employed;Employed, part-time':6,
   'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time':7,
    'Employed, part-time;Retired':8, 'Employed, full-time;Retired':9,  'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired' :10    }, inplace=True)

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/449902616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Employment'].replace({'Employed, full-time;Independent contractor, freelancer, or self-employed':1,

In [95]:
#let's display all unique values in 'RemoteWork' column
print('RemoteWork: ', df['RemoteWork'].unique())

RemoteWork:  ['Fully remote' 'Hybrid (some remote, some in-person)' 'Full in-person']

In [96]:
df.loc[:,'RemoteWork'].replace({'Fully remote' : 1,'Hybrid (some remote, some in-person)':3,
            'Full in-person': 2}, inplace=True)

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/635821460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'RemoteWork'].replace({'Fully remote' : 1,'Hybrid (some remote, some in-person)':3,

In [97]:
#let's display all unique values in 'RemoteWork' column
print('RemoteWork: ', df['RemoteWork'].unique())

RemoteWork:  [1 3 2]

In [98]:
#let's display all unique values in 'EdLevel' column
print('EdLevel: ', df['EdLevel'].unique())

EdLevel:  ['Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)' 'Something else'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Some college/university study without earning a degree'
 'Other doctoral degree (Ph.D., Ed.D., etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Primary/elementary school'
 'Professional degree (JD, MD, etc.)']

In [99]:
df.loc[:,'EdLevel'].replace({'Bachelor’s degree (B.A., B.S., B.Eng., etc.)' : 1,
'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)':2, 'Something else':0, 
'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)' : 3,
'Some college/university study without earning a degree' : 4, 
'Other doctoral degree (Ph.D., Ed.D., etc.)' : 5, 'Associate degree (A.A., A.S., etc.)' : 6,
'Primary/elementary school' : 7, 'Professional degree (JD, MD, etc.)':8}, inplace=True)

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/342585292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EdLevel'].replace({'Bachelor’s degree (B.A., B.S., B.Eng., etc.)' : 1,

In [100]:
#let's display all unique values in 'EdLevel' column
print('EdLevel: ', df['EdLevel'].unique())

EdLevel:  [1 2 0 3 4 5 6 7 8]

In [101]:
#let's display all unique values in 'YearsCodePro' column
print('YearsCodePro: ', df['YearsCodePro'].unique())

YearsCodePro:  ['10' '5' '4' '20' '9' '14' '22' '21' '3' '25' '7' '8' '2' '19' '6' '1'
 '12' '28' '15' '11' 'Less than 1 year' '46' '23' '18' '24' '32' '39' '17'
 '27' '16' '31' '34' '13' '26' '35' '30' '29' '42' '38' '37' '41' '40'
 '48' '33' '36' '45' '44' 'More than 50 years' '49' '43' '50' '47']

In [102]:
def process_age(age):
    if age == 'Less than 1 year':
        return 0
    elif age == 'More than 50 years':
        return (4)
    age = int(age)
    if age <5:
        return(0)
    elif (age >= 5 and age <=10):
        return(1)
    elif (age>10 and age <=20):
        return (2)
    elif (age>20 and age <=40):
        return (3)
    else:
        return(4)

# Apply the function to the column and create a new column
df.loc[:,'YearsCodePro'] = df['YearsCodePro'].apply(process_age)

In [103]:
print('YearsCodePro: ', df['YearsCodePro'].unique())

YearsCodePro:  [1 0 2 3 4]

In [104]:
#let's display all unique values in 'Country' column
print('Country: ', df['Country'].unique())

Country:  ['United States of America' 'Italy' 'Canada' 'Germany' 'Ireland' 'Poland'
 'Israel' 'Madagascar' 'Norway' 'Netherlands' 'Brazil' 'France' 'Uruguay'
 'United Kingdom of Great Britain and Northern Ireland' 'Spain' 'Sweden'
 'Romania' 'India' 'Greece' 'Portugal' 'Czech Republic' 'Kenya' 'Latvia'
 'Austria' 'South Africa' 'China' 'Slovakia' 'Denmark' 'Australia'
 'Viet Nam' 'Finland' 'Argentina' 'Hungary' 'Tunisia' 'Switzerland'
 'Bangladesh' 'Ukraine' 'Maldives' 'Thailand' 'Hong Kong (S.A.R.)'
 'Mexico' 'Serbia' 'Belgium' 'Egypt' 'Croatia' 'Russian Federation'
 'Bosnia and Herzegovina' 'Armenia' 'Iran, Islamic Republic of...'
 'Turkey' 'Belarus' 'Costa Rica' 'Estonia' 'Kazakhstan' 'Morocco'
 'New Zealand' 'Ecuador' 'Bulgaria' 'Japan' 'Peru' 'Philippines'
 'Indonesia' 'Republic of Korea' 'Colombia' 'Lebanon' 'Pakistan'
 'Guatemala' 'Chile' 'Nepal' 'Jordan' 'Azerbaijan' 'Sri Lanka'
 'United Arab Emirates' 'Singapore' 'South Korea' 'Lithuania' 'Taiwan'
 'Saudi Arabia' 'Slovenia' 'Nigeria' 'Malaysia' 'Ethiopia' 'Cyprus'
 'Andorra' 'Luxembourg' 'The former Yugoslav Republic of Macedonia'
 'Syrian Arab Republic' 'Montenegro' 'Cambodia' 'Fiji' 'Mongolia'
 'Tajikistan' 'Timor-Leste' 'Afghanistan' 'United Republic of Tanzania'
 'Ghana' 'Cameroon' 'Kosovo' 'Turkmenistan' 'Republic of Moldova'
 'Botswana' 'Albania' 'Myanmar' 'Georgia' 'Dominican Republic' 'Rwanda'
 'Malta' 'Venezuela, Bolivarian Republic of...' 'El Salvador' 'Bolivia'
 'Isle of Man' 'Algeria' 'Mali' 'Panama'
 "Lao People's Democratic Republic" 'Iceland' 'Honduras' 'Bahrain'
 'Paraguay' 'Cuba' 'Democratic Republic of the Congo' "Côte d'Ivoire"
 'Uganda' 'Mauritius' 'Nicaragua' 'Uzbekistan' 'Iraq' 'Kyrgyzstan'
 'Mozambique' 'Kuwait' 'Libyan Arab Jamahiriya' 'Angola' 'Nomadic' 'Oman'
 'Sudan' 'Palestine' 'Zambia' 'Somalia' 'Guinea' 'Zimbabwe' 'Cape Verde'
 'Senegal' 'Trinidad and Tobago' 'Benin' 'Bhutan' 'Togo' 'Suriname'
 'Jamaica' 'Yemen' 'Malawi' 'Qatar' 'Guyana' 'Congo, Republic of the...'
 'Saint Lucia' 'Seychelles']

In [105]:
df.loc[:,'Country'].replace({'United States of America': 1, 
                             'Italy' : 2, 'Canada' : 3, 'Germany' : 4, 
                             'Ireland' : 5, 'Poland' : 6, 'Israel' : 7, 'Madagascar' : 8, 
                             
                             'Norway' : 9, 'Netherlands' : 10, 'Brazil' : 11, 'France' : 12, 'Uruguay' : 13,
                             'United Kingdom of Great Britain and Northern Ireland' : 14, 'Spain' : 15, 
                             'Sweden' : 16, 'Romania' : 17, 'India' : 18, 'Greece' : 19, 'Portugal' : 20, 
                             'Czech Republic' : 21, 'Kenya' : 22, 'Latvia' : 23, 'Austria' : 24, 
                             'South Africa' : 25, 'China' : 26, 'Slovakia' : 27, 'Denmark' : 28, 'Australia' : 29, 
                             'Viet Nam' : 30, 'Finland' : 31, 'Argentina' : 32, 'Hungary' : 33, 'Tunisia' : 34, 
                             'Switzerland' : 35, 'Bangladesh' : 36, 'Ukraine' : 37, 'Maldives' : 38, 
                             'Thailand' : 39, 'Hong Kong (S.A.R.)' : 40, 'Mexico' : 41, 'Serbia' : 42, 'Belgium' : 43, 
                             'Egypt' : 44, 'Croatia' : 45, 'Russian Federation' : 46, 'Bosnia and Herzegovina' : 47, 
                             'Armenia' : 48, 'Iran, Islamic Republic of...' : 49, 'Turkey' : 50, 'Belarus' : 51, 
                             'Costa Rica' : 52, 'Estonia' : 53, 'Kazakhstan' : 54, 'Morocco' : 55, 'New Zealand' : 56, 
                             'Ecuador' : 57, 'Bulgaria' : 58, 'Japan' : 59, 'Peru' : 60, 'Philippines' : 61, 'Indonesia' : 62,
                             'Republic of Korea' : 63, 'Colombia' : 64, 'Lebanon' : 65, 'Pakistan' : 66, 'Guatemala' : 67, 
                             'Chile' : 68, 'Nepal' : 69, 'Jordan' : 70, 'Azerbaijan' : 71, 'Sri Lanka' : 72, 'United Arab Emirates' : 73, 'Singapore' : 74, 
                             'South Korea' : 75, 'Lithuania' : 76, 'Taiwan' : 77, 'Saudi Arabia' : 78, 'Slovenia' : 79, 'Nigeria' : 80, 
                             'Malaysia' : 81, 'Ethiopia' : 82, 'Cyprus' : 83, 'Andorra' : 84, 'Luxembourg' : 85, 'The former Yugoslav Republic of Macedonia' : 86, 
                             'Syrian Arab Republic' : 87, 'Montenegro' : 88, 'Cambodia' : 89, 'Fiji' : 90, 'Mongolia' : 91, 
                             'Tajikistan' : 92, 'Timor-Leste' : 93, 'Afghanistan' : 94, 'United Republic of Tanzania' : 95, 
                             'Ghana' : 96, 'Cameroon' : 97, 'Kosovo' : 98, 'Turkmenistan' : 99, 'Republic of Moldova' : 100, 'Botswana' : 101, 
                             'Albania' : 102, 'Myanmar' : 103, 'Georgia' : 104, 'Dominican Republic' : 105, 'Rwanda' : 106, 'Malta' : 107, 
                             'Venezuela, Bolivarian Republic of...' : 108, 'El Salvador' : 109, 'Bolivia' : 110, 'Isle of Man' : 111, 'Algeria' : 112, 'Mali' : 113, 
                             'Panama' : 114, "Lao People's Democratic Republic" : 115, 'Iceland' : 116, 'Honduras' : 117, 'Bahrain' : 118,
                             'Paraguay' : 119, 'Cuba' : 120, 'Democratic Republic of the Congo' : 121, "Côte d'Ivoire" : 122, 'Uganda' : 123, 'Mauritius' : 124, 'Nicaragua' : 125, 'Uzbekistan' : 126, 'Iraq' : 127, 'Kyrgyzstan' : 128, 'Mozambique' : 129,
                             'Kuwait' : 130, 'Libyan Arab Jamahiriya' : 131, 'Angola' : 132, 'Nomadic' : 133, 'Oman' : 134, 'Sudan' : 135, 
                             'Palestine' : 136, 'Zambia' : 137, 'Somalia' : 138, 'Guinea' : 139, 'Zimbabwe' : 140, 'Cape Verde' : 141, 
                             'Senegal' : 142, 'Trinidad and Tobago' : 143, 'Benin' : 144, 'Bhutan' : 145, 'Togo' : 146, 'Suriname' : 147, 
                             'Jamaica' : 148, 'Yemen' : 149, 'Malawi' : 150, 'Qatar' : 151, 'Guyana' : 152, 'Congo, Republic of the...' : 153, 
                             'Saint Lucia' : 154, 'Seychelles' : 155}, inplace=True)

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/1838680381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Country'].replace({'United States of America': 1,

In [106]:
#let's display all unique values in 'Country' column
print('Country: ', df['Country'].unique())

Country:  [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155]

In [107]:
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
11,12,1,1,1,1,12,1,20 to 99 employees,1,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",14.0,194400.0
12,13,2,2,3,1,12,1,2 to 9 employees,1,C;HTML/CSS;Rust;SQL;Swift;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,5.0,65000.0
14,15,2,1,1,2,11,1,"5,000 to 9,999 employees",1,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,5.0,110000.0
21,22,2,2,3,2,5,0,20 to 99 employees,2,Python;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,4.0,34126.0
22,23,2,2,1,0,25,2,100 to 499 employees,3,C#;SQL;TypeScript,35-44 years old,Man,No,Straight / Heterosexual,White;North American,None of the above,None of the above,23.0,97605.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,2,2,1,1,13,1,20 to 99 employees,3,C#;HTML/CSS;JavaScript;TypeScript,25-34 years old,Woman,No,Straight / Heterosexual,White;North American,None of the above,None of the above,9.0,60906.0
73112,73113,2,2,3,1,10,0,"10,000 or more employees",24,HTML/CSS;Java;JavaScript,25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,3.0,52255.0
73113,73114,2,2,1,2,7,1,"10,000 or more employees",1,C;C#;C++,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,I have a concentration and/or memory disorder ...,7.0,94000.0
73116,73117,2,2,3,1,21,2,10 to 19 employees,1,C#;HTML/CSS;Java;JavaScript,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,16.0,115000.0
73119,73120,2,2,3,1,5,0,"5,000 to 9,999 employees",1,C#;HTML/CSS;JavaScript;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,White,"Or, in your own words:",I have a concentration and/or memory disorder ...,9.0,70000.0

In [108]:
#let's display all unique values in 'OrgSize' column
print('OrgSize: ', df['OrgSize'].unique())

OrgSize:  ['20 to 99 employees' '2 to 9 employees' '5,000 to 9,999 employees'
 '100 to 499 employees' '10,000 or more employees'
 'Just me - I am a freelancer, sole proprietor, etc.'
 '500 to 999 employees' '1,000 to 4,999 employees' '10 to 19 employees'
 'I don’t know']

In [109]:
df.loc[:,'OrgSize'].replace({'20 to 99 employees' : 0, '2 to 9 employees' : 1, '5,000 to 9,999 employees' :2,
    '100 to 499 employees':3,  '10,000 or more employees' : 4,'Just me - I am a freelancer, sole proprietor, etc.':5,
    '500 to 999 employees' : 6,'1,000 to 4,999 employees':7, '10 to 19 employees':8, 'I don’t know':9  }, inplace=True)

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/2119008047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'OrgSize'].replace({'20 to 99 employees' : 0, '2 to 9 employees' : 1, '5,000 to 9,999 employees' :2,

In [110]:
#let's display all unique values in 'OrgSize' column
print('OrgSize: ', df['OrgSize'].unique())

OrgSize:  [0 1 2 3 4 5 6 7 8 9]

In [111]:
#let's display all unique values in 'Age' column
print('Age: ', df['Age'].unique())

Age:  ['35-44 years old' '25-34 years old' '45-54 years old' '55-64 years old'
 '18-24 years old' '65 years or older' 'Prefer not to say'
 'Under 18 years old']

In [112]:
df.loc[:,'Age'].replace({'35-44 years old':0, '25-34 years old' :1, '45-54 years old':2,
    '55-64 years old' : 3, '18-24 years old' :4, '65 years or older' : 5, 'Prefer not to say' :6,'Under 18 years old':7  }, inplace=True)

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/1758647963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Age'].replace({'35-44 years old':0, '25-34 years old' :1, '45-54 years old':2,

In [113]:
#let's display all unique values in 'Age' column
print('Age: ', df['Age'].unique())

Age:  [0 1 2 3 4 5 6 7]

In [114]:
#let's display all unique values in 'Gender' column
print('Gender: ', df['Gender'].unique())

Gender:  ['Man' 'Woman' 'Prefer not to say'
 'Non-binary, genderqueer, or gender non-conforming'
 'Or, in your own words:'
 'Or, in your own words:;Non-binary, genderqueer, or gender non-conforming'
 'Woman;Non-binary, genderqueer, or gender non-conforming'
 'Man;Non-binary, genderqueer, or gender non-conforming'
 'Man;Or, in your own words:'
 'Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming'
 'Man;Woman;Non-binary, genderqueer, or gender non-conforming'
 'Man;Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming'
 'Man;Or, in your own words:;Non-binary, genderqueer, or gender non-conforming'
 'Man;Woman']

In [115]:
df.loc[:,'Gender'] = pd.factorize(df['Gender'])[0] + 1

In [116]:
#let's display all unique values in 'Gender' column
print('Gender: ', df['Gender'].unique())

Gender:  [1 2 3 4 5 6 7 8 9 10 11 12 13 14]

In [117]:
#let's display all unique values in 'Trans' column
print('Trans: ', df['Trans'].unique())

Trans:  ['No' 'Prefer not to say' 'Yes' 'Or, in your own words:']

In [118]:
df.loc[:,'Trans'] = pd.factorize(df['Trans'])[0] + 1

In [119]:
#let's display all unique values in 'Trans' column
print('Trans: ', df['Trans'].unique())

Trans:  [1 2 3 4]

In [120]:
df.loc[:,'Sexuality'] = pd.factorize(df['Sexuality'])[0] + 1

In [121]:
df.loc[:,'Ethnicity'] = pd.factorize(df['Ethnicity'])[0] + 1

In [122]:
df.loc[:,'Accessibility'] = pd.factorize(df['Accessibility'])[0] + 1

In [123]:
df.loc[:,'MentalHealth'] = pd.factorize(df['MentalHealth'])[0] + 1

In [124]:
#let's display all unique values in 'WorkExp' column
print('WorkExp: ', df['WorkExp'].unique())

WorkExp:  [14.  5.  4. 23.  9. 22. 21.  6.  3. 28.  7.  8.  2. 20. 27. 10. 19.  1.
 13. 30. 12. 15. 11. 17. 46. 25. 18. 24. 31.  0. 40. 16. 35. 32. 26. 36.
 42. 38. 29. 33. 37. 34. 41. 44. 50. 45. 39. 43. 47. 48. 49.]

In [125]:
def process_age(age):
    age = int(age)
    age = int(age)
    if age <5:
        return(0)
    elif (age >= 5 and age <=10):
        return(1)
    elif (age>10 and age <=20):
        return (2)
    elif (age>20 and age <=40):
        return (3)
    else:
        return(4)

# Apply the function to the column and create a new column
df.loc[:,'WorkExp'] = df['WorkExp'].apply(process_age)

In [126]:
#let's display all unique values in 'WorkExp' column
print('WorkExp: ', df['WorkExp'].unique())

WorkExp:  [2. 1. 0. 3. 4.]

In [127]:
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
11,12,1,1,1,1,12,1,0,1,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,0,1,1,1,1,1,1,2.0,194400.0
12,13,2,2,3,1,12,1,1,1,C;HTML/CSS;Rust;SQL;Swift;TypeScript,1,1,1,1,1,1,2,1.0,65000.0
14,15,2,1,1,2,11,1,2,1,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,1,1,1,1,1,1,2,1.0,110000.0
21,22,2,2,3,2,5,0,0,2,Python;SQL;TypeScript,1,1,1,1,2,1,2,0.0,34126.0
22,23,2,2,1,0,25,2,3,3,C#;SQL;TypeScript,0,1,1,1,3,1,2,3.0,97605.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,2,2,1,1,13,1,0,3,C#;HTML/CSS;JavaScript;TypeScript,1,2,1,1,3,1,2,1.0,60906.0
73112,73113,2,2,3,1,10,0,4,24,HTML/CSS;Java;JavaScript,1,1,1,1,2,1,2,0.0,52255.0
73113,73114,2,2,1,2,7,1,4,1,C;C#;C++,1,1,1,1,1,1,9,1.0,94000.0
73116,73117,2,2,3,1,21,2,8,1,C#;HTML/CSS;Java;JavaScript,0,1,1,1,1,1,2,2.0,115000.0
73119,73120,2,2,3,1,5,0,2,1,C#;HTML/CSS;JavaScript;SQL;TypeScript,1,1,1,1,1,4,9,1.0,70000.0

In [129]:
# function that return 1 person knows each language in the list and 0 otherwise
def process_list(lst):
    languages = ['C#', 'C', 'HTML/CSS', 'Python' ,'Dart' ,'Bash/Shell' ,'JavaScript' ,'Java',
 'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal' ,'PHP' ,'Delphi' ,'C++',
 'Clojure' ,'Kotlin', 'APL', 'Rust' ,'TypeScript', 'COBOL' ,'PowerShell' ,'Scala',
 'Elixir', 'F#' ,'LISP' ,'Ruby', 'Julia' ,'MATLAB', 'Objective-C' ,'Erlang',
 'Swift', 'Fortran', 'OCaml' ,'R' ,'SQL', 'Perl' ,'Lua' ,'VBA']
    result = ""
    lst = lst.split(';')
    for lang in languages:
        if lang in lst:
            result += "1,"
        else:
            result += "0,"
    return result[:-1]  # Remove the trailing comma


# Apply the function to the column and create a new column
df.loc[:,'new_column'] = df['LanguageHaveWorkedWith'].apply(process_list)

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/163253007.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'new_column'] = df['LanguageHaveWorkedWith'].apply(process_list)

In [130]:
## add new colums with languges names, it works


# Specifying the column names
column_names = ['C#', 'C', 'HTML/CSS', 'Python', 'Dart', 'Bash/Shell', 'JavaScript', 'Java',
                'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal', 'PHP', 'Delphi', 'C++',
                'Clojure', 'Kotlin', 'APL', 'Rust', 'TypeScript', 'COBOL', 'PowerShell',
                'Scala', 'Elixir', 'F#', 'LISP', 'Ruby', 'Julia', 'MATLAB', 'Objective-C',
                'Erlang', 'Swift', 'Fortran', 'OCaml', 'R', 'SQL', 'Perl', 'Lua', 'VBA']


# Splitting the 'new_column' and assigning to the new DataFrame
df[column_names] = df['new_column'].str.split(',', expand=True)

df[column_names] = df[column_names].astype(int)
print(df)

       ResponseId  MainBranch  Employment  RemoteWork  EdLevel YearsCode  \
11             12           1           1           1        1        12
12             13           2           2           3        1        12
14             15           2           1           1        2        11
21             22           2           2           3        2         5
22             23           2           2           1        0        25
...           ...         ...         ...         ...      ...       ...
73110       73111           2           2           1        1        13
73112       73113           2           2           3        1        10
73113       73114           2           2           1        2         7
73116       73117           2           2           3        1        21
73119       73120           2           2           3        1         5

      YearsCodePro  OrgSize  Country  \
11               1        0        1
12               1        1        1
14               1        2        1
21               0        0        2
22               2        3        3
...            ...      ...      ...
73110            1        0        3
73112            0        4       24
73113            1        4        1
73116            2        8        1
73119            0        2        1

                                  LanguageHaveWorkedWith  ...  Objective-C  \
11     C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL  ...            0
12                  C;HTML/CSS;Rust;SQL;Swift;TypeScript  ...            0
14           HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala  ...            0
21                                 Python;SQL;TypeScript  ...            0
22                                     C#;SQL;TypeScript  ...            0
...                                                  ...  ...          ...
73110                  C#;HTML/CSS;JavaScript;TypeScript  ...            0
73112                           HTML/CSS;Java;JavaScript  ...            0
73113                                           C;C#;C++  ...            0
73116                        C#;HTML/CSS;Java;JavaScript  ...            0
73119              C#;HTML/CSS;JavaScript;SQL;TypeScript  ...            0

      Erlang Swift Fortran OCaml  R SQL  Perl  Lua VBA
11         0     0       0     0  0   1     0    0   0
12         0     1       0     0  0   1     0    0   0
14         0     0       0     0  1   0     0    0   0
21         0     0       0     0  0   1     0    0   0
22         0     0       0     0  0   1     0    0   0
...      ...   ...     ...   ... ..  ..   ...  ...  ..
73110      0     0       0     0  0   0     0    0   0
73112      0     0       0     0  0   0     0    0   0
73113      0     0       0     0  0   0     0    0   0
73116      0     0       0     0  0   0     0    0   0
73119      0     0       0     0  0   1     0    0   0

[24767 rows x 60 columns]

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_53914/3661275813.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df[column_names].astype(int)

In [131]:
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,...,Objective-C,Erlang,Swift,Fortran,OCaml,R,SQL,Perl,Lua,VBA
11,12,1,1,1,1,12,1,0,1,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,...,0,0,0,0,0,0,1,0,0,0
12,13,2,2,3,1,12,1,1,1,C;HTML/CSS;Rust;SQL;Swift;TypeScript,...,0,0,1,0,0,0,1,0,0,0
14,15,2,1,1,2,11,1,2,1,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,...,0,0,0,0,0,1,0,0,0,0
21,22,2,2,3,2,5,0,0,2,Python;SQL;TypeScript,...,0,0,0,0,0,0,1,0,0,0
22,23,2,2,1,0,25,2,3,3,C#;SQL;TypeScript,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,2,2,1,1,13,1,0,3,C#;HTML/CSS;JavaScript;TypeScript,...,0,0,0,0,0,0,0,0,0,0
73112,73113,2,2,3,1,10,0,4,24,HTML/CSS;Java;JavaScript,...,0,0,0,0,0,0,0,0,0,0
73113,73114,2,2,1,2,7,1,4,1,C;C#;C++,...,0,0,0,0,0,0,0,0,0,0
73116,73117,2,2,3,1,21,2,8,1,C#;HTML/CSS;Java;JavaScript,...,0,0,0,0,0,0,0,0,0,0
73119,73120,2,2,3,1,5,0,2,1,C#;HTML/CSS;JavaScript;SQL;TypeScript,...,0,0,0,0,0,0,1,0,0,0

In [132]:
print(df.head(0))

Empty DataFrame
Columns: [ResponseId, MainBranch, Employment, RemoteWork, EdLevel, YearsCode, YearsCodePro, OrgSize, Country, LanguageHaveWorkedWith, Age, Gender, Trans, Sexuality, Ethnicity, Accessibility, MentalHealth, WorkExp, ConvertedCompYearly, new_column, C#, C, HTML/CSS, Python, Dart, Bash/Shell, JavaScript, Java, Haskell, Assembly, Go, Groovy, Crystal, PHP, Delphi, C++, Clojure, Kotlin, APL, Rust, TypeScript, COBOL, PowerShell, Scala, Elixir, F#, LISP, Ruby, Julia, MATLAB, Objective-C, Erlang, Swift, Fortran, OCaml, R, SQL, Perl, Lua, VBA]
Index: []

[0 rows x 60 columns]

In [135]:
df = df.drop(columns=['LanguageHaveWorkedWith', 'new_column'])

In [136]:
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,Age,...,Objective-C,Erlang,Swift,Fortran,OCaml,R,SQL,Perl,Lua,VBA
11,12,1,1,1,1,12,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
12,13,2,2,3,1,12,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
14,15,2,1,1,2,11,1,2,1,1,...,0,0,0,0,0,1,0,0,0,0
21,22,2,2,3,2,5,0,0,2,1,...,0,0,0,0,0,0,1,0,0,0
22,23,2,2,1,0,25,2,3,3,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,2,2,1,1,13,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
73112,73113,2,2,3,1,10,0,4,24,1,...,0,0,0,0,0,0,0,0,0,0
73113,73114,2,2,1,2,7,1,4,1,1,...,0,0,0,0,0,0,0,0,0,0
73116,73117,2,2,3,1,21,2,8,1,0,...,0,0,0,0,0,0,0,0,0,0
73119,73120,2,2,3,1,5,0,2,1,1,...,0,0,0,0,0,0,1,0,0,0

In [138]:
df1 = df
df1.to_csv('CleanedData.csv')

In [530]:
col = df['LanguageHaveWorkedWith'].str.split(';', expand = True)

In [531]:
#all languges 
print('YearsCodePro: ', col[0].unique())

YearsCodePro:  ['C#' 'C' 'HTML/CSS' 'Python' 'Dart' 'Bash/Shell' 'JavaScript' 'Java'
 'Haskell' 'Assembly' 'Go' 'Groovy' 'Crystal' 'PHP' 'Delphi' 'C++'
 'Clojure' 'Kotlin' 'APL' 'Rust' 'TypeScript' 'COBOL' 'PowerShell' 'Scala'
 'Elixir' 'F#' 'LISP' 'Ruby' 'Julia' 'MATLAB' 'Objective-C' 'Erlang'
 'Swift' 'Fortran' 'OCaml' 'R' 'SQL' 'Perl' 'Lua' 'VBA']

In [535]:
# function that return 1 person knows each language in the list and 0 otherwise
def process_list(lst):
    languages = ['C#', 'C', 'HTML/CSS', 'Python' ,'Dart' ,'Bash/Shell' ,'JavaScript' ,'Java',
 'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal' ,'PHP' ,'Delphi' ,'C++',
 'Clojure' ,'Kotlin', 'APL', 'Rust' ,'TypeScript', 'COBOL' ,'PowerShell' ,'Scala',
 'Elixir', 'F#' ,'LISP' ,'Ruby', 'Julia' ,'MATLAB', 'Objective-C' ,'Erlang',
 'Swift', 'Fortran', 'OCaml' ,'R' ,'SQL', 'Perl' ,'Lua' ,'VBA']
    result = ""
    lst = lst.split(';')
    for lang in languages:
        if lang in lst:
            result += "1,"
        else:
            result += "0,"
    return result[:-1]  # Remove the trailing comma


# Apply the function to the column and create a new column
df.loc[:,'new_column'] = df['LanguageHaveWorkedWith'].apply(process_list)

In [536]:
## add new colums with languges names, it works


# Specifying the column names
column_names = ['C#', 'C', 'HTML/CSS', 'Python', 'Dart', 'Bash/Shell', 'JavaScript', 'Java',
                'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal', 'PHP', 'Delphi', 'C++',
                'Clojure', 'Kotlin', 'APL', 'Rust', 'TypeScript', 'COBOL', 'PowerShell',
                'Scala', 'Elixir', 'F#', 'LISP', 'Ruby', 'Julia', 'MATLAB', 'Objective-C',
                'Erlang', 'Swift', 'Fortran', 'OCaml', 'R', 'SQL', 'Perl', 'Lua', 'VBA']


# Splitting the 'new_column' and assigning to the new DataFrame
df[column_names] = df['new_column'].str.split(',', expand=True)

df[column_names] = df[column_names].astype(int)
print(df)

       ResponseId                                         MainBranch  \
11             12  I am not primarily a developer, but I write co...
12             13                     I am a developer by profession
14             15                     I am a developer by profession
21             22                     I am a developer by profession
22             23                     I am a developer by profession
...           ...                                                ...
73110       73111                     I am a developer by profession
73112       73113                     I am a developer by profession
73113       73114                     I am a developer by profession
73116       73117                     I am a developer by profession
73119       73120                     I am a developer by profession

                                              Employment  \
11     Employed, full-time;Independent contractor, fr...
12                                   Employed, full-time
14     Employed, full-time;Independent contractor, fr...
21                                   Employed, full-time
22                                   Employed, full-time
...                                                  ...
73110                                Employed, full-time
73112                                Employed, full-time
73113                                Employed, full-time
73116                                Employed, full-time
73119                                Employed, full-time

                                 RemoteWork  \
11                             Fully remote
12     Hybrid (some remote, some in-person)
14                             Fully remote
21     Hybrid (some remote, some in-person)
22                             Fully remote
...                                     ...
73110                          Fully remote
73112  Hybrid (some remote, some in-person)
73113                          Fully remote
73116  Hybrid (some remote, some in-person)
73119  Hybrid (some remote, some in-person)

                                               EdLevel YearsCode YearsCodePro  \
11        Bachelor’s degree (B.A., B.S., B.Eng., etc.)        12           10
12        Bachelor’s degree (B.A., B.S., B.Eng., etc.)        12            5
14     Master’s degree (M.A., M.S., M.Eng., MBA, etc.)        11            5
21     Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         5            4
22                                      Something else        25           20
...                                                ...       ...          ...
73110     Bachelor’s degree (B.A., B.S., B.Eng., etc.)        13            9
73112     Bachelor’s degree (B.A., B.S., B.Eng., etc.)        10            3
73113  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         7            5
73116     Bachelor’s degree (B.A., B.S., B.Eng., etc.)        21           16
73119     Bachelor’s degree (B.A., B.S., B.Eng., etc.)         5            1

                        OrgSize                   Country  \
11           20 to 99 employees  United States of America
12             2 to 9 employees  United States of America
14     5,000 to 9,999 employees  United States of America
21           20 to 99 employees                     Italy
22         100 to 499 employees                    Canada
...                         ...                       ...
73110        20 to 99 employees                    Canada
73112  10,000 or more employees                   Austria
73113  10,000 or more employees  United States of America
73116        10 to 19 employees  United States of America
73119  5,000 to 9,999 employees  United States of America

                                  LanguageHaveWorkedWith  ... Objective-C  \
11     C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL  ...           0
12                  C;HTML/CSS;Rust;SQL;Swift;TypeScript  ...           0
14           HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala  ...           0
21                                 Python;SQL;TypeScript  ...           0
22                                     C#;SQL;TypeScript  ...           0
...                                                  ...  ...         ...
73110                  C#;HTML/CSS;JavaScript;TypeScript  ...           0
73112                           HTML/CSS;Java;JavaScript  ...           0
73113                                           C;C#;C++  ...           0
73116                        C#;HTML/CSS;Java;JavaScript  ...           0
73119              C#;HTML/CSS;JavaScript;SQL;TypeScript  ...           0

      Erlang Swift Fortran OCaml  R SQL  Perl  Lua VBA
11         0     0       0     0  0   1     0    0   0
12         0     1       0     0  0   1     0    0   0
14         0     0       0     0  1   0     0    0   0
21         0     0       0     0  0   1     0    0   0
22         0     0       0     0  0   1     0    0   0
...      ...   ...     ...   ... ..  ..   ...  ...  ..
73110      0     0       0     0  0   0     0    0   0
73112      0     0       0     0  0   0     0    0   0
73113      0     0       0     0  0   0     0    0   0
73116      0     0       0     0  0   0     0    0   0
73119      0     0       0     0  0   1     0    0   0

[24767 rows x 60 columns]

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df[column_names].astype(int)

## Starting working on model

#

In [533]:
# Splitting the 'new_column' and assigning to the new DataFrame

column_names = ['C#', 'C', 'HTML/CSS', 'Python', 'Dart', 'Bash/Shell', 'JavaScript', 'Java',
                'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal', 'PHP', 'Delphi', 'C++',
                'Clojure', 'Kotlin', 'APL', 'Rust', 'TypeScript', 'COBOL', 'PowerShell',
                'Scala', 'Elixir', 'F#', 'LISP', 'Ruby', 'Julia', 'MATLAB', 'Objective-C',
                'Erlang', 'Swift', 'Fortran', 'OCaml', 'R', 'SQL', 'Perl', 'Lua', 'VBA']

var = df['new_column'].str.split(',', expand=True)
var.columns = column_names


var

,C#,C,HTML/CSS,Python,Dart,Bash/Shell,JavaScript,Java,Haskell,Assembly,...,Objective-C,Erlang,Swift,Fortran,OCaml,R,SQL,Perl,Lua,VBA
11,1,0,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12,0,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
14,0,0,1,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
21,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
22,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73112,0,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
73113,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73116,1,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
73119,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [534]:
frames = [df, var]
ndf = pd.concat(frames)
ndf

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,...,Objective-C,Erlang,Swift,Fortran,OCaml,R,SQL,Perl,Lua,VBA
11,12.0,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,10,20 to 99 employees,United States of America,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13.0,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,5,2 to 9 employees,United States of America,C;HTML/CSS;Rust;SQL;Swift;TypeScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15.0,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11,5,"5,000 to 9,999 employees",United States of America,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22.0,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,4,20 to 99 employees,Italy,Python;SQL;TypeScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23.0,I am a developer by profession,"Employed, full-time",Fully remote,Something else,25,20,100 to 499 employees,Canada,C#;SQL;TypeScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
73112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
73113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
73116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
73119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0

In [509]:
## add new colums with languges names, it works


# Specifying the column names
column_names = ['C#', 'C', 'HTML/CSS', 'Python', 'Dart', 'Bash/Shell', 'JavaScript', 'Java',
                'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal', 'PHP', 'Delphi', 'C++',
                'Clojure', 'Kotlin', 'APL', 'Rust', 'TypeScript', 'COBOL', 'PowerShell',
                'Scala', 'Elixir', 'F#', 'LISP', 'Ruby', 'Julia', 'MATLAB', 'Objective-C',
                'Erlang', 'Swift', 'Fortran', 'OCaml', 'R', 'SQL', 'Perl', 'Lua', 'VBA']


# Splitting the 'new_column' and assigning to the new DataFrame
df[column_names] = df['new_column'].str.split(',', expand=True)

df[column_names] = df[column_names].astype(int)
print(df)

       ResponseId                                         MainBranch  \
11             12  I am not primarily a developer, but I write co...
12             13                     I am a developer by profession
14             15                     I am a developer by profession
21             22                     I am a developer by profession
22             23                     I am a developer by profession
...           ...                                                ...
73110       73111                     I am a developer by profession
73112       73113                     I am a developer by profession
73113       73114                     I am a developer by profession
73116       73117                     I am a developer by profession
73119       73120                     I am a developer by profession

                                              Employment  \
11     Employed, full-time;Independent contractor, fr...
12                                   Employed, full-time
14     Employed, full-time;Independent contractor, fr...
21                                   Employed, full-time
22                                   Employed, full-time
...                                                  ...
73110                                Employed, full-time
73112                                Employed, full-time
73113                                Employed, full-time
73116                                Employed, full-time
73119                                Employed, full-time

                                 RemoteWork  \
11                             Fully remote
12     Hybrid (some remote, some in-person)
14                             Fully remote
21     Hybrid (some remote, some in-person)
22                             Fully remote
...                                     ...
73110                          Fully remote
73112  Hybrid (some remote, some in-person)
73113                          Fully remote
73116  Hybrid (some remote, some in-person)
73119  Hybrid (some remote, some in-person)

                                               EdLevel YearsCode YearsCodePro  \
11        Bachelor’s degree (B.A., B.S., B.Eng., etc.)        12           10
12        Bachelor’s degree (B.A., B.S., B.Eng., etc.)        12            5
14     Master’s degree (M.A., M.S., M.Eng., MBA, etc.)        11            5
21     Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         5            4
22                                      Something else        25           20
...                                                ...       ...          ...
73110     Bachelor’s degree (B.A., B.S., B.Eng., etc.)        13            9
73112     Bachelor’s degree (B.A., B.S., B.Eng., etc.)        10            3
73113  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         7            5
73116     Bachelor’s degree (B.A., B.S., B.Eng., etc.)        21           16
73119     Bachelor’s degree (B.A., B.S., B.Eng., etc.)         5            1

                        OrgSize                   Country  \
11           20 to 99 employees  United States of America
12             2 to 9 employees  United States of America
14     5,000 to 9,999 employees  United States of America
21           20 to 99 employees                     Italy
22         100 to 499 employees                    Canada
...                         ...                       ...
73110        20 to 99 employees                    Canada
73112  10,000 or more employees                   Austria
73113  10,000 or more employees  United States of America
73116        10 to 19 employees  United States of America
73119  5,000 to 9,999 employees  United States of America

                                  LanguageHaveWorkedWith  ... Objective-C  \
11     C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL  ...           0
12                  C;HTML/CSS;Rust;SQL;Swift;TypeScript  ...           0
14           HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala  ...           0
21                                 Python;SQL;TypeScript  ...           0
22                                     C#;SQL;TypeScript  ...           0
...                                                  ...  ...         ...
73110                  C#;HTML/CSS;JavaScript;TypeScript  ...           0
73112                           HTML/CSS;Java;JavaScript  ...           0
73113                                           C;C#;C++  ...           0
73116                        C#;HTML/CSS;Java;JavaScript  ...           0
73119              C#;HTML/CSS;JavaScript;SQL;TypeScript  ...           0

      Erlang Swift Fortran OCaml  R SQL  Perl  Lua VBA
11         0     0       0     0  0   1     0    0   0
12         0     1       0     0  0   1     0    0   0
14         0     0       0     0  1   0     0    0   0
21         0     0       0     0  0   1     0    0   0
22         0     0       0     0  0   1     0    0   0
...      ...   ...     ...   ... ..  ..   ...  ...  ..
73110      0     0       0     0  0   0     0    0   0
73112      0     0       0     0  0   0     0    0   0
73113      0     0       0     0  0   0     0    0   0
73116      0     0       0     0  0   0     0    0   0
73119      0     0       0     0  0   1     0    0   0

[24767 rows x 60 columns]

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df['new_column'].str.split(',', expand=True)
/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/3661275813.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_names] = df[column_names].astype(int)

In [472]:
# Splitting the 'new_column' and assigning to the new DataFrame
df.loc[:,['C#', 'C', 'HTML/CSS', 'Python', 'Dart', 'Bash/Shell', 'JavaScript', 'Java',
                'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal', 'PHP', 'Delphi', 'C++',
                'Clojure', 'Kotlin', 'APL', 'Rust', 'TypeScript', 'COBOL', 'PowerShell',
                'Scala', 'Elixir', 'F#', 'LISP', 'Ruby', 'Julia', 'MATLAB', 'Objective-C',
                'Erlang', 'Swift', 'Fortran', 'OCaml', 'R', 'SQL', 'Perl', 'Lua', 'VBA']] = df['new_column'].str.split(',', expand=True).fillna('1')
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,...,Objective-C,Erlang,Swift,Fortran,OCaml,R,SQL,Perl,Lua,VBA
11,12,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,10,20 to 99 employees,United States of America,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,5,2 to 9 employees,United States of America,C;HTML/CSS;Rust;SQL;Swift;TypeScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11,5,"5,000 to 9,999 employees",United States of America,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,4,20 to 99 employees,Italy,Python;SQL;TypeScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,I am a developer by profession,"Employed, full-time",Fully remote,Something else,25,20,100 to 499 employees,Canada,C#;SQL;TypeScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",13,9,20 to 99 employees,Canada,C#;HTML/CSS;JavaScript;TypeScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73112,73113,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",10,3,"10,000 or more employees",Austria,HTML/CSS;Java;JavaScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73113,73114,I am a developer by profession,"Employed, full-time",Fully remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",7,5,"10,000 or more employees",United States of America,C;C#;C++,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73116,73117,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",21,16,10 to 19 employees,United States of America,C#;HTML/CSS;Java;JavaScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73119,73120,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5,1,"5,000 to 9,999 employees",United States of America,C#;HTML/CSS;JavaScript;SQL;TypeScript,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Series([], Name: new_column, dtype: object)

In [474]:
## add new colums with languges names


# Specifying the column names
column_names = ['C#', 'C', 'HTML/CSS', 'Python', 'Dart', 'Bash/Shell', 'JavaScript', 'Java',
                'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal', 'PHP', 'Delphi', 'C++',
                'Clojure', 'Kotlin', 'APL', 'Rust', 'TypeScript', 'COBOL', 'PowerShell',
                'Scala', 'Elixir', 'F#', 'LISP', 'Ruby', 'Julia', 'MATLAB', 'Objective-C',
                'Erlang', 'Swift', 'Fortran', 'OCaml', 'R', 'SQL', 'Perl', 'Lua', 'VBA']


# Splitting the 'new_column' and assigning to the new DataFrame
df.loc[:, column_names] = df['new_column'].str.split(',', expand=True)

df[column_names] = df[column_names].astype(int)
print(df)

       ResponseId                                         MainBranch  \
11             12  I am not primarily a developer, but I write co...
12             13                     I am a developer by profession
14             15                     I am a developer by profession
21             22                     I am a developer by profession
22             23                     I am a developer by profession
...           ...                                                ...
73110       73111                     I am a developer by profession
73112       73113                     I am a developer by profession
73113       73114                     I am a developer by profession
73116       73117                     I am a developer by profession
73119       73120                     I am a developer by profession

                                              Employment  \
11     Employed, full-time;Independent contractor, fr...
12                                   Employed, full-time
14     Employed, full-time;Independent contractor, fr...
21                                   Employed, full-time
22                                   Employed, full-time
...                                                  ...
73110                                Employed, full-time
73112                                Employed, full-time
73113                                Employed, full-time
73116                                Employed, full-time
73119                                Employed, full-time

                                 RemoteWork  \
11                             Fully remote
12     Hybrid (some remote, some in-person)
14                             Fully remote
21     Hybrid (some remote, some in-person)
22                             Fully remote
...                                     ...
73110                          Fully remote
73112  Hybrid (some remote, some in-person)
73113                          Fully remote
73116  Hybrid (some remote, some in-person)
73119  Hybrid (some remote, some in-person)

                                               EdLevel YearsCode YearsCodePro  \
11        Bachelor’s degree (B.A., B.S., B.Eng., etc.)        12           10
12        Bachelor’s degree (B.A., B.S., B.Eng., etc.)        12            5
14     Master’s degree (M.A., M.S., M.Eng., MBA, etc.)        11            5
21     Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         5            4
22                                      Something else        25           20
...                                                ...       ...          ...
73110     Bachelor’s degree (B.A., B.S., B.Eng., etc.)        13            9
73112     Bachelor’s degree (B.A., B.S., B.Eng., etc.)        10            3
73113  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         7            5
73116     Bachelor’s degree (B.A., B.S., B.Eng., etc.)        21           16
73119     Bachelor’s degree (B.A., B.S., B.Eng., etc.)         5            1

                        OrgSize                   Country  \
11           20 to 99 employees  United States of America
12             2 to 9 employees  United States of America
14     5,000 to 9,999 employees  United States of America
21           20 to 99 employees                     Italy
22         100 to 499 employees                    Canada
...                         ...                       ...
73110        20 to 99 employees                    Canada
73112  10,000 or more employees                   Austria
73113  10,000 or more employees  United States of America
73116        10 to 19 employees  United States of America
73119  5,000 to 9,999 employees  United States of America

                                  LanguageHaveWorkedWith  ... Objective-C  \
11     C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL  ...         NaN
12                  C;HTML/CSS;Rust;SQL;Swift;TypeScript  ...         NaN
14           HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala  ...         NaN
21                                 Python;SQL;TypeScript  ...         NaN
22                                     C#;SQL;TypeScript  ...         NaN
...                                                  ...  ...         ...
73110                  C#;HTML/CSS;JavaScript;TypeScript  ...         NaN
73112                           HTML/CSS;Java;JavaScript  ...         NaN
73113                                           C;C#;C++  ...         NaN
73116                        C#;HTML/CSS;Java;JavaScript  ...         NaN
73119              C#;HTML/CSS;JavaScript;SQL;TypeScript  ...         NaN

      Erlang Swift Fortran OCaml    R  SQL  Perl  Lua  VBA
11       NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN
12       NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN
14       NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN
21       NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN
22       NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN
...      ...   ...     ...   ...  ...  ...   ...  ...  ...
73110    NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN
73112    NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN
73113    NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN
73116    NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN
73119    NaN   NaN     NaN   NaN  NaN  NaN   NaN  NaN  NaN

[24767 rows x 60 columns]