# New notebook

## Data cleaning

In [88]:
import pandas as pd
import numpy as np
# upload data
df = pd.read_csv('data.csv')

In [89]:
# displaying coloums
result = df.head(0) 
print(result)

Empty DataFrame
Columns: [ResponseId, MainBranch, Employment, RemoteWork, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, LearnCodeCoursesCert, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, Country, Currency, CompTotal, CompFreq, LanguageHaveWorkedWith, LanguageWantToWorkWith, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, PlatformHaveWorkedWith, PlatformWantToWorkWith, WebframeHaveWorkedWith, WebframeWantToWorkWith, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, OpSysProfessional use, OpSysPersonal use, VersionControlSystem, VCInteraction, VCHostingPersonal use, VCHostingProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, Blockchain, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOComm, Age, Gender, Trans, Sexuality, Ethnicity, Accessibility, MentalHealth, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Onboarding, ProfessionalTech, TrueFalse_1, TrueFalse_2, TrueFalse_3, SurveyLength, SurveyEase, ConvertedCompYearly]
Index: []

[0 rows x 79 columns]

In [90]:
# drop colums "CodingActivities", "LearnCode", "LearnCodeOnline", "LearnCodeCoursesCert", "DevType" <- (this one
# will be too complicated to analise), "PurchaseInfluence", "BuyNewTool", "LanguageWantToWorkWith",
# "DatabaseHaveWorkedWith", "DatabaseWantToWorkWith", "PlatformHaveWorkedWith", "PlatformWantToWorkWith", 
# "WebframeHaveWorkedWith", "WebframeWantToWorkWith", "MiscTechHaveWorkedWith", "MiscTechWantToWorkWith",
# "ToolsTechHaveWorkedWith" <- (this one will be complicated to like split and analyse, but if we have 
# time, we can try), "ToolsTechWantToWorkWith", "NEWCollabToolsHaveWorkedWith", "NEWCollabToolsWantToWorkWith", 
# "OpSysProfessional use", "OpSysPersonal use", "VersionControlSystem", "VCInteraction", "VCHostingPersonal use",
# "VCHostingProfessional use", "OfficeStackAsyncHaveWorkedWith", "OfficeStackAsyncWantToWorkWith", 
# "OfficeStackSyncHaveWorkedWith", "OfficeStackSyncWantToWorkWith", "Blockchain", "NEWSOSites", "SOVisitFreq", 
# "SOAccount", "SOPartFreq", "SOComm", "TBranch", "ICorPM", "Knowledge_1", "Knowledge_2", "Knowledge_3",
# "Knowledge_4", "Knowledge_5", "Knowledge_6", "Knowledge_7", "Frequency_1", "Frequency_2", "Frequency_3", 
# "TimeSearching", "TimeAnswering", "Onboarding", "ProfessionalTech", "TrueFalse_1", TrueFalse_2", TrueFalse_3"
# "SurveyLength", "SurveyEase"

df.drop(columns=["CodingActivities", "LearnCode", "LearnCodeOnline", "LearnCodeCoursesCert", "DevType",
                         "PurchaseInfluence", "BuyNewTool", "LanguageWantToWorkWith","DatabaseHaveWorkedWith", "DatabaseWantToWorkWith", "PlatformHaveWorkedWith", "PlatformWantToWorkWith", "WebframeHaveWorkedWith", "WebframeWantToWorkWith", "MiscTechHaveWorkedWith", "MiscTechWantToWorkWith",
                        "ToolsTechHaveWorkedWith","ToolsTechWantToWorkWith", "NEWCollabToolsHaveWorkedWith",
                        "NEWCollabToolsWantToWorkWith","OpSysProfessional use", "OpSysPersonal use",
                        "VersionControlSystem", "VCInteraction", "VCHostingPersonal use",
                        "VCHostingProfessional use", "OfficeStackAsyncHaveWorkedWith", "OfficeStackAsyncWantToWorkWith",
                        "OfficeStackSyncHaveWorkedWith", "OfficeStackSyncWantToWorkWith", "Blockchain", "NEWSOSites", "SOVisitFreq",
                        "SOAccount", "SOPartFreq", "SOComm", "TBranch", "ICorPM", "Knowledge_1", "Knowledge_2", "Knowledge_3",
                        "Knowledge_4", "Knowledge_5", "Knowledge_6", "Knowledge_7", "Frequency_1", "Frequency_2", "Frequency_3",
                        "TimeSearching", "TimeAnswering", "Onboarding", "ProfessionalTech", "TrueFalse_1", "TrueFalse_2", "TrueFalse_3",
                        "SurveyLength", "SurveyEase"], inplace=True)
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,Currency,...,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,...,JavaScript;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,5,20 to 99 employees,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,...,C#;C++;HTML/CSS;JavaScript;Python,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,17,100 to 499 employees,Israel,ILS\tIsraeli new shekel,...,C#;JavaScript;SQL;TypeScript,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,NaN,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,3,20 to 99 employees,United States of America,USD\tUnited States dollar,...,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,5,100 to 499 employees,Nigeria,USD\tUnited States dollar,...,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,5.0,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,5,I don’t know,United States of America,USD\tUnited States dollar,...,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,6.0,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",42,33,20 to 99 employees,United States of America,USD\tUnited States dollar,...,HTML/CSS;JavaScript;PHP;Python;SQL,55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,42.0,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",50,31,10 to 19 employees,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,...,C#;Delphi;VBA,55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,NaN,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",16,5,NaN,Canada,NaN,...,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN

In [91]:
#remove duplicates if we have any(we don't)
df = df.drop_duplicates()
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,Currency,...,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,...,JavaScript;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,5,20 to 99 employees,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,...,C#;C++;HTML/CSS;JavaScript;Python,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,17,100 to 499 employees,Israel,ILS\tIsraeli new shekel,...,C#;JavaScript;SQL;TypeScript,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,NaN,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,3,20 to 99 employees,United States of America,USD\tUnited States dollar,...,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,5,100 to 499 employees,Nigeria,USD\tUnited States dollar,...,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,5.0,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,5,I don’t know,United States of America,USD\tUnited States dollar,...,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,6.0,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",42,33,20 to 99 employees,United States of America,USD\tUnited States dollar,...,HTML/CSS;JavaScript;PHP;Python;SQL,55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,42.0,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",50,31,10 to 19 employees,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,...,C#;Delphi;VBA,55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,NaN,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",16,5,NaN,Canada,NaN,...,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN

In [121]:
# removing colums that contain at least one NaN value
df = df.dropna()
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,Currency,...,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
11,12,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,10,20 to 99 employees,United States of America,USD\tUnited States dollar,...,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",14.0,194400.0
12,13,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,5,2 to 9 employees,United States of America,USD\tUnited States dollar,...,C;HTML/CSS;Rust;SQL;Swift;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,5.0,65000.0
14,15,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11,5,"5,000 to 9,999 employees",United States of America,USD\tUnited States dollar,...,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,5.0,110000.0
21,22,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,4,20 to 99 employees,Italy,EUR European Euro,...,Python;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,4.0,34126.0
22,23,I am a developer by profession,"Employed, full-time",Fully remote,Something else,25,20,100 to 499 employees,Canada,CAD\tCanadian dollar,...,C#;SQL;TypeScript,35-44 years old,Man,No,Straight / Heterosexual,White;North American,None of the above,None of the above,23.0,97605.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",13,9,20 to 99 employees,Canada,CAD\tCanadian dollar,...,C#;HTML/CSS;JavaScript;TypeScript,25-34 years old,Woman,No,Straight / Heterosexual,White;North American,None of the above,None of the above,9.0,60906.0
73112,73113,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",10,3,"10,000 or more employees",Austria,EUR European Euro,...,HTML/CSS;Java;JavaScript,25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,3.0,52255.0
73113,73114,I am a developer by profession,"Employed, full-time",Fully remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",7,5,"10,000 or more employees",United States of America,USD\tUnited States dollar,...,C;C#;C++,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,I have a concentration and/or memory disorder ...,7.0,94000.0
73116,73117,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",21,16,10 to 19 employees,United States of America,USD\tUnited States dollar,...,C#;HTML/CSS;Java;JavaScript,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,16.0,115000.0
73119,73120,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5,1,"5,000 to 9,999 employees",United States of America,USD\tUnited States dollar,...,C#;HTML/CSS;JavaScript;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,White,"Or, in your own words:",I have a concentration and/or memory disorder ...,9.0,70000.0

In [113]:
#let's display all unique values in 'MainBranch' column
print('MainBranch: ', df['MainBranch'].unique())

MainBranch:  ['I am not primarily a developer, but I write code sometimes as part of my work'
 'I am a developer by profession']

In [119]:
#remove spaces from the end and beggining 
df["Employment"] = df["Employment"].str.strip()
df
#idk why it throws an error :(

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_32975/1021554612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Employment"] = df["Employment"].str.strip()

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,Currency,...,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
11,12,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,10,20 to 99 employees,United States of America,USD\tUnited States dollar,...,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",14.0,194400.0
12,13,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,5,2 to 9 employees,United States of America,USD\tUnited States dollar,...,C;HTML/CSS;Rust;SQL;Swift;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,5.0,65000.0
14,15,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11,5,"5,000 to 9,999 employees",United States of America,USD\tUnited States dollar,...,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,5.0,110000.0
21,22,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,4,20 to 99 employees,Italy,EUR European Euro,...,Python;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,4.0,34126.0
22,23,I am a developer by profession,"Employed, full-time",Fully remote,Something else,25,20,100 to 499 employees,Canada,CAD\tCanadian dollar,...,C#;SQL;TypeScript,35-44 years old,Man,No,Straight / Heterosexual,White;North American,None of the above,None of the above,23.0,97605.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,I am a developer by profession,"Employed, full-time",Fully remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",13,9,20 to 99 employees,Canada,CAD\tCanadian dollar,...,C#;HTML/CSS;JavaScript;TypeScript,25-34 years old,Woman,No,Straight / Heterosexual,White;North American,None of the above,None of the above,9.0,60906.0
73112,73113,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",10,3,"10,000 or more employees",Austria,EUR European Euro,...,HTML/CSS;Java;JavaScript,25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,3.0,52255.0
73113,73114,I am a developer by profession,"Employed, full-time",Fully remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",7,5,"10,000 or more employees",United States of America,USD\tUnited States dollar,...,C;C#;C++,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,I have a concentration and/or memory disorder ...,7.0,94000.0
73116,73117,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",21,16,10 to 19 employees,United States of America,USD\tUnited States dollar,...,C#;HTML/CSS;Java;JavaScript,35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,16.0,115000.0
73119,73120,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5,1,"5,000 to 9,999 employees",United States of America,USD\tUnited States dollar,...,C#;HTML/CSS;JavaScript;SQL;TypeScript,25-34 years old,Man,No,Straight / Heterosexual,White,"Or, in your own words:",I have a concentration and/or memory disorder ...,9.0,70000.0

In [118]:
#let's display all unique values in 'Employment' column
print('Employment: ', df['Employment'].unique())

Employment:  ['Employed, full-time;Independent contractor, freelancer, or self-employed'
 'Employed, full-time'
 'Independent contractor, freelancer, or self-employed'
 'Employed, part-time' 'Employed, full-time;Employed, part-time'
 'Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, part-time;Retired' 'Employed, full-time;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired']

In [122]:
#let's display all unique values in 'RemoteWork' column
print('RemoteWork: ', df['RemoteWork'].unique())

RemoteWork:  ['Fully remote' 'Hybrid (some remote, some in-person)' 'Full in-person']

In [123]:
#let's display all unique values in 'EdLevel' column
print('EdLevel: ', df['EdLevel'].unique())

EdLevel:  ['Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)' 'Something else'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Some college/university study without earning a degree'
 'Other doctoral degree (Ph.D., Ed.D., etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Primary/elementary school'
 'Professional degree (JD, MD, etc.)']

In [124]:
#let's display all unique values in 'YearsCodePro' column
print('YearsCodePro: ', df['YearsCodePro'].unique())

YearsCodePro:  ['10' '5' '4' '20' '9' '14' '22' '21' '3' '25' '7' '8' '2' '19' '6' '1'
 '12' '28' '15' '11' 'Less than 1 year' '46' '23' '18' '24' '32' '39' '17'
 '27' '16' '31' '34' '13' '26' '35' '30' '29' '42' '38' '37' '41' '40'
 '48' '33' '36' '45' '44' 'More than 50 years' '49' '43' '50' '47']

In [125]:
#let's display all unique values in 'Country' column
print('Country: ', df['Country'].unique())

Country:  ['United States of America' 'Italy' 'Canada' 'Germany' 'Ireland' 'Poland'
 'Israel' 'Madagascar' 'Norway' 'Netherlands' 'Brazil' 'France' 'Uruguay'
 'United Kingdom of Great Britain and Northern Ireland' 'Spain' 'Sweden'
 'Romania' 'India' 'Greece' 'Portugal' 'Czech Republic' 'Kenya' 'Latvia'
 'Austria' 'South Africa' 'China' 'Slovakia' 'Denmark' 'Australia'
 'Viet Nam' 'Finland' 'Argentina' 'Hungary' 'Tunisia' 'Switzerland'
 'Bangladesh' 'Ukraine' 'Maldives' 'Thailand' 'Hong Kong (S.A.R.)'
 'Mexico' 'Serbia' 'Belgium' 'Egypt' 'Croatia' 'Russian Federation'
 'Bosnia and Herzegovina' 'Armenia' 'Iran, Islamic Republic of...'
 'Turkey' 'Belarus' 'Costa Rica' 'Estonia' 'Kazakhstan' 'Morocco'
 'New Zealand' 'Ecuador' 'Bulgaria' 'Japan' 'Peru' 'Philippines'
 'Indonesia' 'Republic of Korea' 'Colombia' 'Lebanon' 'Pakistan'
 'Guatemala' 'Chile' 'Nepal' 'Jordan' 'Azerbaijan' 'Sri Lanka'
 'United Arab Emirates' 'Singapore' 'South Korea' 'Lithuania' 'Taiwan'
 'Saudi Arabia' 'Slovenia' 'Nigeria' 'Malaysia' 'Ethiopia' 'Cyprus'
 'Andorra' 'Luxembourg' 'The former Yugoslav Republic of Macedonia'
 'Syrian Arab Republic' 'Montenegro' 'Cambodia' 'Fiji' 'Mongolia'
 'Tajikistan' 'Timor-Leste' 'Afghanistan' 'United Republic of Tanzania'
 'Ghana' 'Cameroon' 'Kosovo' 'Turkmenistan' 'Republic of Moldova'
 'Botswana' 'Albania' 'Myanmar' 'Georgia' 'Dominican Republic' 'Rwanda'
 'Malta' 'Venezuela, Bolivarian Republic of...' 'El Salvador' 'Bolivia'
 'Isle of Man' 'Algeria' 'Mali' 'Panama'
 "Lao People's Democratic Republic" 'Iceland' 'Honduras' 'Bahrain'
 'Paraguay' 'Cuba' 'Democratic Republic of the Congo' "Côte d'Ivoire"
 'Uganda' 'Mauritius' 'Nicaragua' 'Uzbekistan' 'Iraq' 'Kyrgyzstan'
 'Mozambique' 'Kuwait' 'Libyan Arab Jamahiriya' 'Angola' 'Nomadic' 'Oman'
 'Sudan' 'Palestine' 'Zambia' 'Somalia' 'Guinea' 'Zimbabwe' 'Cape Verde'
 'Senegal' 'Trinidad and Tobago' 'Benin' 'Bhutan' 'Togo' 'Suriname'
 'Jamaica' 'Yemen' 'Malawi' 'Qatar' 'Guyana' 'Congo, Republic of the...'
 'Saint Lucia' 'Seychelles']