# Data Cleaning

In [174]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle as pkl

sns.set()

from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score, train_test_split, KFold, GridSearchCV
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn import metrics
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.metrics import confusion_matrix, classification_report


# upload data
df = pd.read_csv('datacopy.csv')

### Let's drop colums that we won't use, duplicates and NaN rows

In [175]:
# drop colums "CodingActivities", "LearnCode", "LearnCodeOnline", "LearnCodeCoursesCert", "DevType" <- (this one
# will be too complicated to analise), "PurchaseInfluence", "BuyNewTool", "LanguageWantToWorkWith",
# "DatabaseHaveWorkedWith", "DatabaseWantToWorkWith", "PlatformHaveWorkedWith", "PlatformWantToWorkWith", 
# "WebframeHaveWorkedWith", "WebframeWantToWorkWith", "MiscTechHaveWorkedWith", "MiscTechWantToWorkWith",
# "ToolsTechHaveWorkedWith" <- (this one will be complicated to like split and analyse, but if we have 
# time, we can try), "ToolsTechWantToWorkWith", "NEWCollabToolsHaveWorkedWith", "NEWCollabToolsWantToWorkWith", 
# "OpSysProfessional use", "OpSysPersonal use", "VersionControlSystem", "VCInteraction", "VCHostingPersonal use",
# "VCHostingProfessional use", "OfficeStackAsyncHaveWorkedWith", "OfficeStackAsyncWantToWorkWith", 
# "OfficeStackSyncHaveWorkedWith", "OfficeStackSyncWantToWorkWith", "Blockchain", "NEWSOSites", "SOVisitFreq", 
# "SOAccount", "SOPartFreq", "SOComm", "TBranch", "ICorPM", "Knowledge_1", "Knowledge_2", "Knowledge_3",
# "Knowledge_4", "Knowledge_5", "Knowledge_6", "Knowledge_7", "Frequency_1", "Frequency_2", "Frequency_3", 
# "TimeSearching", "TimeAnswering", "Onboarding", "ProfessionalTech", "TrueFalse_1", TrueFalse_2", TrueFalse_3"
# "SurveyLength", "SurveyEase", "CompTotal", "CompFreq", "Currency"

df.drop(columns=["CodingActivities", "LearnCode", "LearnCodeOnline", "LearnCodeCoursesCert", "DevType",
                         "PurchaseInfluence", "BuyNewTool", "LanguageWantToWorkWith","DatabaseHaveWorkedWith", "DatabaseWantToWorkWith", "PlatformHaveWorkedWith", "PlatformWantToWorkWith", "WebframeHaveWorkedWith", "WebframeWantToWorkWith", "MiscTechHaveWorkedWith", "MiscTechWantToWorkWith",
                        "ToolsTechHaveWorkedWith","ToolsTechWantToWorkWith", "NEWCollabToolsHaveWorkedWith",
                        "NEWCollabToolsWantToWorkWith","OpSysProfessional use", "OpSysPersonal use",
                        "VersionControlSystem", "VCInteraction", "VCHostingPersonal use",
                        "VCHostingProfessional use", "OfficeStackAsyncHaveWorkedWith", "OfficeStackAsyncWantToWorkWith",
                        "OfficeStackSyncHaveWorkedWith", "OfficeStackSyncWantToWorkWith", "Blockchain", "NEWSOSites", "SOVisitFreq",
                        "SOAccount", "SOPartFreq", "SOComm", "TBranch", "ICorPM", "Knowledge_1", "Knowledge_2", "Knowledge_3",
                        "Knowledge_4", "Knowledge_5", "Knowledge_6", "Knowledge_7", "Frequency_1", "Frequency_2", "Frequency_3",
                        "TimeSearching", "TimeAnswering", "Onboarding", "ProfessionalTech", "TrueFalse_1", "TrueFalse_2", "TrueFalse_3",
                        "SurveyLength", "SurveyEase","CompTotal", "CompFreq","Currency"], inplace=True)

In [176]:
#remove duplicates if we have any(we don't)
df = df.drop_duplicates()

In [177]:
# removing colums that contain at least one NaN value
df = df.dropna()

### Replacing string values in the columns with numericals ones + desplaying inital unique values

In [178]:
#let's display all unique values in MainBranch column
print('MainBranch: ', df['MainBranch'].unique())

MainBranch:  ['I am not primarily a developer, but I write code sometimes as part of my work'
 'I am a developer by profession']

In [179]:
df.loc[:,'MainBranch'] = pd.factorize(df['MainBranch'])[0] + 1

In [180]:
#let's display all unique values in MainBranch column
print('MainBranch: ', df['MainBranch'].unique())

MainBranch:  [1 2]

In [181]:
#let's display all unique values in MainBranch column
print('Employment: ', df['Employment'].unique())

Employment:  ['Employed, full-time;Independent contractor, freelancer, or self-employed'
 'Employed, full-time'
 'Independent contractor, freelancer, or self-employed'
 'Employed, part-time' 'Employed, full-time;Employed, part-time'
 'Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, part-time;Retired' 'Employed, full-time;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired']

In [182]:
df.loc[:,'Employment'] = pd.factorize(df['Employment'])[0] + 1

In [183]:
#let's display all unique values in MainBranch column
print('Employment: ', df['Employment'].unique())

Employment:  [1 2 3 4 5 6 7 8 9 10]

In [184]:
#let's display all unique values in 'RemoteWork' column
print('RemoteWork: ', df['RemoteWork'].unique())

RemoteWork:  ['Fully remote' 'Hybrid (some remote, some in-person)' 'Full in-person']

In [185]:
df.loc[:,'RemoteWork'] = pd.factorize(df['RemoteWork'])[0] + 1

In [186]:
#let's display all unique values in 'RemoteWork' column
print('RemoteWork: ', df['RemoteWork'].unique())

RemoteWork:  [1 2 3]

In [187]:
#let's display all unique values in 'EdLevel' column
print('EdLevel: ', df['EdLevel'].unique())

EdLevel:  ['Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)' 'Something else'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Some college/university study without earning a degree'
 'Other doctoral degree (Ph.D., Ed.D., etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Primary/elementary school'
 'Professional degree (JD, MD, etc.)']

In [188]:
df.loc[:,'EdLevel'] = pd.factorize(df['EdLevel'])[0] + 1

In [189]:
#let's display all unique values in 'EdLevel' column
print('EdLevel: ', df['EdLevel'].unique())

EdLevel:  [1 2 3 4 5 6 7 8 9]

In [190]:
#let's display all unique values in 'YearsCode' column
print('YearsCode: ', df['YearsCode'].unique())

YearsCode:  ['12' '11' '5' '25' '16' '20' '27' '24' '6' '3' '4' '40' '7' '9' '17' '10'
 '29' '13' '30' '26' '32' '14' '15' '8' '28' '19' '23' '48' '38' '21' '18'
 '22' '43' '31' '35' '39' '2' '42' '1' '45' '33' 'Less than 1 year' '34'
 '36' '37' '41' '44' 'More than 50 years' '46' '47' '50' '49']

In [191]:
# let's group all year of code into 5 groups: less than 5 year, from 5 to 10, from 11 to 20, from 21 to 40 
# and more than 40

def process_age(age):
    if age == 'Less than 1 year':
        return 1
    elif age == 'More than 50 years':
        return (5)
    age = int(age)
    if age <5:
        return(1)
    elif (age >= 5 and age <=10):
        return(2)
    elif (age>10 and age <=20):
        return (3)
    elif (age>20 and age <=40):
        return (4)
    else:
        return(5)

# Apply the function to the column and create a new column
df.loc[:,'YearsCode'] = df['YearsCode'].apply(process_age)

In [192]:
print('YearsCode: ', df['YearsCode'].unique())

YearsCode:  [3 2 4 1 5]

In [104]:
#let's display all unique values in 'Country' column
print('Country: ', df['Country'].unique())

Country:  ['United States of America' 'Italy' 'Canada' 'Germany' 'Ireland' 'Poland'
 'Israel' 'Madagascar' 'Norway' 'Netherlands' 'Brazil' 'France' 'Uruguay'
 'United Kingdom of Great Britain and Northern Ireland' 'Spain' 'Sweden'
 'Romania' 'India' 'Greece' 'Portugal' 'Czech Republic' 'Kenya' 'Latvia'
 'Austria' 'South Africa' 'China' 'Slovakia' 'Denmark' 'Australia'
 'Viet Nam' 'Finland' 'Argentina' 'Hungary' 'Tunisia' 'Switzerland'
 'Bangladesh' 'Ukraine' 'Maldives' 'Thailand' 'Hong Kong (S.A.R.)'
 'Mexico' 'Serbia' 'Belgium' 'Egypt' 'Croatia' 'Russian Federation'
 'Bosnia and Herzegovina' 'Armenia' 'Iran, Islamic Republic of...'
 'Turkey' 'Belarus' 'Costa Rica' 'Estonia' 'Kazakhstan' 'Morocco'
 'New Zealand' 'Ecuador' 'Bulgaria' 'Japan' 'Peru' 'Philippines'
 'Indonesia' 'Republic of Korea' 'Colombia' 'Lebanon' 'Pakistan'
 'Guatemala' 'Chile' 'Nepal' 'Jordan' 'Azerbaijan' 'Sri Lanka'
 'United Arab Emirates' 'Singapore' 'South Korea' 'Lithuania' 'Taiwan'
 'Saudi Arabia' 'Slovenia' 'Nigeria' 'Malaysia' 'Ethiopia' 'Cyprus'
 'Andorra' 'Luxembourg' 'The former Yugoslav Republic of Macedonia'
 'Syrian Arab Republic' 'Montenegro' 'Cambodia' 'Fiji' 'Mongolia'
 'Tajikistan' 'Timor-Leste' 'Afghanistan' 'United Republic of Tanzania'
 'Ghana' 'Cameroon' 'Kosovo' 'Turkmenistan' 'Republic of Moldova'
 'Botswana' 'Albania' 'Myanmar' 'Georgia' 'Dominican Republic' 'Rwanda'
 'Malta' 'Venezuela, Bolivarian Republic of...' 'El Salvador' 'Bolivia'
 'Isle of Man' 'Algeria' 'Mali' 'Panama'
 "Lao People's Democratic Republic" 'Iceland' 'Honduras' 'Bahrain'
 'Paraguay' 'Cuba' 'Democratic Republic of the Congo' "Côte d'Ivoire"
 'Uganda' 'Mauritius' 'Nicaragua' 'Uzbekistan' 'Iraq' 'Kyrgyzstan'
 'Mozambique' 'Kuwait' 'Libyan Arab Jamahiriya' 'Angola' 'Nomadic' 'Oman'
 'Sudan' 'Palestine' 'Zambia' 'Somalia' 'Guinea' 'Zimbabwe' 'Cape Verde'
 'Senegal' 'Trinidad and Tobago' 'Benin' 'Bhutan' 'Togo' 'Suriname'
 'Jamaica' 'Yemen' 'Malawi' 'Qatar' 'Guyana' 'Congo, Republic of the...'
 'Saint Lucia' 'Seychelles']

In [193]:
df.loc[:,'Country'] = pd.factorize(df['Country'])[0] + 1

In [194]:
#let's display all unique values in 'Country' column
print('Country: ', df['Country'].unique())

Country:  [1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99
 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
 154 155]

In [195]:
#let's display all unique values in 'OrgSize' column
print('OrgSize: ', df['OrgSize'].unique())

OrgSize:  ['20 to 99 employees' '2 to 9 employees' '5,000 to 9,999 employees'
 '100 to 499 employees' '10,000 or more employees'
 'Just me - I am a freelancer, sole proprietor, etc.'
 '500 to 999 employees' '1,000 to 4,999 employees' '10 to 19 employees'
 'I don’t know']

In [196]:
df.loc[:,'OrgSize'] = pd.factorize(df['OrgSize'])[0] + 1

In [197]:
#let's display all unique values in 'OrgSize' column
print('OrgSize: ', df['OrgSize'].unique())

OrgSize:  [1 2 3 4 5 6 7 8 9 10]

In [198]:
#let's display all unique values in 'Age' column
print('Age: ', df['Age'].unique())

Age:  ['35-44 years old' '25-34 years old' '45-54 years old' '55-64 years old'
 '18-24 years old' '65 years or older' 'Prefer not to say'
 'Under 18 years old']

In [199]:
df.loc[:,'Age'] = pd.factorize(df['Age'])[0] + 1

In [200]:
#let's display all unique values in 'Age' column
print('Age: ', df['Age'].unique())

Age:  [1 2 3 4 5 6 7 8]

In [201]:
#let's display all unique values in 'Gender' column
print('Gender: ', df['Gender'].unique())

Gender:  ['Man' 'Woman' 'Prefer not to say'
 'Non-binary, genderqueer, or gender non-conforming'
 'Or, in your own words:'
 'Or, in your own words:;Non-binary, genderqueer, or gender non-conforming'
 'Woman;Non-binary, genderqueer, or gender non-conforming'
 'Man;Non-binary, genderqueer, or gender non-conforming'
 'Man;Or, in your own words:'
 'Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming'
 'Man;Woman;Non-binary, genderqueer, or gender non-conforming'
 'Man;Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming'
 'Man;Or, in your own words:;Non-binary, genderqueer, or gender non-conforming'
 'Man;Woman']

In [202]:
df.loc[:,'Gender'] = pd.factorize(df['Gender'])[0] + 1

In [203]:
#let's display all unique values in 'Gender' column
print('Gender: ', df['Gender'].unique())

Gender:  [1 2 3 4 5 6 7 8 9 10 11 12 13 14]

In [204]:
#let's display all unique values in 'Trans' column
print('Trans: ', df['Trans'].unique())

Trans:  ['No' 'Prefer not to say' 'Yes' 'Or, in your own words:']

In [205]:
df.loc[:,'Trans'] = pd.factorize(df['Trans'])[0] + 1

In [206]:
#let's display all unique values in 'Trans' column
print('Trans: ', df['Trans'].unique())

Trans:  [1 2 3 4]

In [207]:
#let's display all unique values in 'Sexuality' column
print('Sexuality: ', df['Sexuality'].unique())

Sexuality:  ['Straight / Heterosexual' 'Prefer not to say' 'Gay or Lesbian' 'Bisexual'
 'Bisexual;Straight / Heterosexual' 'Queer' 'Prefer to self-describe:'
 'Bisexual;Queer' 'Gay or Lesbian;Queer'
 'Bisexual;Prefer to self-describe:'
 'Straight / Heterosexual;Prefer to self-describe:'
 'Bisexual;Gay or Lesbian;Queer' 'Bisexual;Prefer to self-describe:;Queer'
 'Straight / Heterosexual;Queer'
 'Bisexual;Prefer to self-describe:;Gay or Lesbian'
 'Bisexual;Straight / Heterosexual;Prefer to self-describe:'
 'Bisexual;Gay or Lesbian' 'Prefer to self-describe:;Queer'
 'Bisexual;Straight / Heterosexual;Gay or Lesbian'
 'Prefer to self-describe:;Gay or Lesbian'
 'Bisexual;Straight / Heterosexual;Queer'
 'Bisexual;Straight / Heterosexual;Gay or Lesbian;Queer'
 'Straight / Heterosexual;Gay or Lesbian'
 'Prefer to self-describe:;Gay or Lesbian;Queer'
 'Straight / Heterosexual;Prefer to self-describe:;Queer'
 'Bisexual;Straight / Heterosexual;Prefer to self-describe:;Gay or Lesbian;Queer']

In [208]:
df.loc[:,'Sexuality'] = pd.factorize(df['Sexuality'])[0] + 1

In [209]:
#let's display all unique values in 'Ethnicity' column
print('Ethnicity: ', df['Ethnicity'].unique())

Ethnicity:  ['White' 'European' 'White;North American' 'White;European'
 'Prefer not to say' 'Middle Eastern' 'African'
 'White;European;Asian;East Asian' 'Black;Caribbean'
 'Hispanic or Latino/a' 'European;African' 'White;Hispanic or Latino/a'
 'European;Hispanic or Latino/a' 'White;European;Middle Eastern'
 'East Asian' 'Or, in your own words:'
 'White;Hispanic or Latino/a;South American' 'Indian;Asian'
 'Asian;South Asian' 'Indian' 'White;European;Hispanic or Latino/a'
 'North American' 'Or, in your own words:;Ethnoreligious group'
 'African;Black'
 'White;European;North American;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'Middle Eastern;Hispanic or Latino/a;South American'
 'European;Hispanic or Latino/a;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'European;North American' 'White;Or, in your own words:'
 'White;Hispanic or Latino/a;South American;Multiracial'
 'White;European;Middle Eastern;Asian;Multiracial;Biracial'
 'White;European;North American' 'White;Asian;Multiracial'
 'European;Asian' 'South American' 'Asian;Southeast Asian' 'Biracial'
 'White;Asian' 'North African' 'Asian' 'Multiracial'
 'Asian;Southeast Asian;South Asian' 'Indian;Asian;South Asian'
 'Southeast Asian' 'White;Or, in your own words:;North American'
 'Ethnoreligious group' 'South American;Multiracial' 'Indian;South Asian'
 'Middle Eastern;Asian' 'Middle Eastern;African' 'South Asian'
 'White;Middle Eastern' 'White;Asian;Multiracial;Biracial'
 'White;Asian;Biracial' 'Indian;North American' 'Black' 'White;East Asian'
 'European;Caribbean;Multiracial' 'Central American;Hispanic or Latino/a'
 'White;South Asian;Multiracial' 'White;Southeast Asian;Biracial'
 'White;Biracial' 'European;Black'
 'White;European;Indigenous (such as Native American or Indigenous Australian)'
 'North American;Asian;Biracial' "I don't know"
 'White;Ethnoreligious group;East Asian;Biracial' 'African;North African'
 'White;African' 'White;South American' 'European;Middle Eastern'
 'North American;Multiracial;Biracial'
 'White;Asian;Southeast Asian;Biracial'
 'White;Indian;Indigenous (such as Native American or Indigenous Australian)'
 'White;European;Middle Eastern;Ethnoreligious group'
 'White;European;Hispanic or Latino/a;Multiracial' 'Caribbean'
 'East Asian;South American' 'Asian;East Asian'
 'White;North American;South American' 'White;Ethnoreligious group'
 'White;Southeast Asian' 'Indian;European;Asian;Multiracial'
 'White;European;North American;Middle Eastern;Multiracial'
 'White;Indigenous (such as Native American or Indigenous Australian)'
 'White;Black;Multiracial;Biracial'
 'European;Hispanic or Latino/a;South American;Multiracial'
 'European;Biracial;Pacific Islander'
 'White;North American;Asian;East Asian;Multiracial'
 'White;Indian;European;Biracial' 'Indian;Middle Eastern;South Asian'
 'White;Or, in your own words:;European' 'White;Black;Caribbean'
 'White;Indian;Multiracial;Biracial' 'Central Asian' 'White;Multiracial'
 'European;Multiracial;Pacific Islander'
 'Black;Hispanic or Latino/a;Multiracial'
 'Asian;East Asian;Southeast Asian' 'White;Black'
 'Or, in your own words:;Middle Eastern;African'
 'North American;Asian;East Asian' 'Hispanic or Latino/a;Multiracial'
 'White;Indian;North American'
 'White;North American;Hispanic or Latino/a;South American'
 'Middle Eastern;Asian;Multiracial;Biracial' 'Central American'
 'Hispanic or Latino/a;South American' 'Or, in your own words:;Asian'
 'White;Hispanic or Latino/a;Biracial' 'European;African;Biracial'
 'White;North American;Hispanic or Latino/a;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'Indian;Middle Eastern' 'White;European;Ethnoreligious group'
 'White;Middle Eastern;Asian;East Asian;Central Asian'
 'Indian;Asian;Southeast Asian' 'East Asian;Biracial'
 'Or, in your own words:;Hispanic or Latino/a;South American'
 'White;Indian;European;North American;Middle Eastern;Ethnoreligious group;African;Asian;East Asian;Black;Caribbean;Southeast Asian;Central American;North African;Hispanic or Latino/a;South American;South Asian;Multiracial;Biracial;Indigenous (such as Native American or Indigenous Australian);Pacific Islander;Central Asian'
 'Or, in your own words:;European' 'Black;Caribbean;Multiracial'
 'Middle Eastern;Asian;Central Asian' 'White;European;Asian'
 'Or, in your own words:;Southeast Asian' 'Asian;East Asian;Central Asian'
 'Asian;East Asian;Multiracial'
 'White;Ethnoreligious group;South American' 'Indian;Middle Eastern;Asian'
 'White;African;North African'
 'European;North American;Indigenous (such as Native American or Indigenous Australian)'
 'Middle Eastern;African;Multiracial'
 'White;European;Middle Eastern;North African;Multiracial'
 'White;North African' 'Indian;European'
 'Hispanic or Latino/a;South American;Multiracial'
 'Middle Eastern;South Asian' 'White;Middle Eastern;North African'
 'European;Middle Eastern;Central Asian'
 'European;Middle Eastern;Biracial' 'White;European;South Asian;Biracial'
 'White;European;Asian;Multiracial' 'White;Middle Eastern;Central Asian'
 'Or, in your own words:;Asian;South Asian' 'European;Central Asian'
 'White;Middle Eastern;Asian' 'Pacific Islander'
 'White;European;Multiracial' 'White;Middle Eastern;Multiracial'
 'Or, in your own words:;European;Middle Eastern'
 'European;South American' 'Indian;Southeast Asian;South Asian'
 'Southeast Asian;South Asian' 'Asian;Multiracial'
 'White;North American;East Asian;Biracial' 'Middle Eastern;North African'
 'European;Biracial' 'White;Indian' 'North American;Hispanic or Latino/a'
 'White;North American;Middle Eastern;North African'
 'Middle Eastern;Multiracial'
 'North American;Middle Eastern;Hispanic or Latino/a;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'White;Pacific Islander' 'Caribbean;Hispanic or Latino/a'
 'European;North African;Biracial'
 'Or, in your own words:;Middle Eastern;Multiracial'
 'Asian;Hispanic or Latino/a;Multiracial'
 'White;Or, in your own words:;European;South American'
 'Indian;Middle Eastern;Asian;South Asian'
 'White;Hispanic or Latino/a;Multiracial'
 'White;Caribbean;Hispanic or Latino/a' 'White;European;Asian;Biracial'
 'White;European;South American' 'Black;Hispanic or Latino/a;Biracial'
 'Indian;Caribbean;South American;South Asian' 'White;Caribbean;Biracial'
 'White;Or, in your own words:;Hispanic or Latino/a;Multiracial'
 'European;African;Hispanic or Latino/a'
 'Indian;Asian;Southeast Asian;South Asian'
 'White;European;North American;Middle Eastern'
 'Black;Hispanic or Latino/a;South American;Indigenous (such as Native American or Indigenous Australian)'
 'White;European;Central American;Hispanic or Latino/a'
 'African;North African;Multiracial'
 'Hispanic or Latino/a;Indigenous (such as Native American or Indigenous Australian)'
 'European;Central American'
 'White;Or, in your own words:;European;Middle Eastern;Ethnoreligious group'
 'Black;Hispanic or Latino/a' 'White;European;Biracial'
 'White;European;Biracial;Indigenous (such as Native American or Indigenous Australian)'
 'White;Middle Eastern;Biracial'
 'White;Ethnoreligious group;Indigenous (such as Native American or Indigenous Australian)'
 'White;European;African' 'White;Multiracial;Pacific Islander'
 'White;Caribbean;Hispanic or Latino/a;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'White;Asian;South Asian;Biracial' 'European;Asian;Multiracial;Biracial'
 'European;Asian;East Asian' 'Asian;Southeast Asian;Multiracial'
 'White;Multiracial;Biracial;Indigenous (such as Native American or Indigenous Australian)'
 'Indian;Southeast Asian' 'European;African;Black;Multiracial;Biracial'
 'Asian;Hispanic or Latino/a;Biracial'
 'European;Middle Eastern;Hispanic or Latino/a;Multiracial'
 'Asian;East Asian;Hispanic or Latino/a;Biracial'
 'European;Southeast Asian' 'White;North American;Hispanic or Latino/a'
 'White;European;Caribbean;Central American;Hispanic or Latino/a'
 'White;Central American;Hispanic or Latino/a' 'Black;South American'
 'Middle Eastern;Hispanic or Latino/a;Multiracial;Pacific Islander'
 'North American;Asian;South American' 'White;European;Central Asian'
 'White;North American;Black;Multiracial;Biracial'
 'Or, in your own words:;Middle Eastern'
 'North American;Central American;Hispanic or Latino/a;South American'
 'North American;Middle Eastern;Hispanic or Latino/a'
 'White;European;North American;Indigenous (such as Native American or Indigenous Australian)'
 'Caribbean;Hispanic or Latino/a;South American'
 'White;North American;Asian;East Asian;Multiracial;Biracial'
 'White;European;Middle Eastern;Multiracial;Biracial;Central Asian'
 'Black;South American;Multiracial'
 'Indigenous (such as Native American or Indigenous Australian)'
 'European;Ethnoreligious group;Biracial;Central Asian'
 'North American;Central American;Hispanic or Latino/a'
 'Indian;European;Asian' 'White;Asian;Multiracial;Pacific Islander'
 'Asian;Black;Southeast Asian;Biracial' 'North American;Asian;South Asian'
 'White;European;South American;Multiracial'
 'White;European;Hispanic or Latino/a;South American'
 'White;North American;Caribbean' 'Asian;South American'
 'North American;Middle Eastern;North African' 'White;Black;Biracial'
 'White;Or, in your own words:;European;Middle Eastern;Ethnoreligious group;Multiracial'
 'White;Caribbean' 'Or, in your own words:;Central Asian'
 'Or, in your own words:;South Asian'
 'White;European;Middle Eastern;Asian'
 'White;East Asian;Multiracial;Pacific Islander'
 'Biracial;Pacific Islander' 'White;South American;Multiracial'
 'White;European;Hispanic or Latino/a;South American;Multiracial;Biracial'
 'Or, in your own words:;African'
 'White;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'Middle Eastern;Southeast Asian;Biracial'
 'Southeast Asian;Pacific Islander'
 'White;Middle Eastern;Asian;Multiracial'
 'Caribbean;Hispanic or Latino/a;Biracial'
 'Indian;Asian;Hispanic or Latino/a'
 'Indian;North American;South American'
 'European;Hispanic or Latino/a;South American'
 'White;European;Ethnoreligious group;Multiracial'
 'European;East Asian;Biracial' 'Or, in your own words:;East Asian'
 'Or, in your own words:;European;Hispanic or Latino/a'
 'Middle Eastern;Southeast Asian' 'White;European;North African;Biracial'
 'White;European;Middle Eastern;Central Asian' 'European;Multiracial'
 'East Asian;Southeast Asian'
 'White;European;East Asian;Multiracial;Biracial'
 'White;European;Middle Eastern;Biracial'
 'European;Multiracial;Central Asian'
 'North American;South American;Central Asian' 'Indian;European;Biracial'
 'Indian;Asian;East Asian;Biracial' 'Middle Eastern;Ethnoreligious group'
 'Hispanic or Latino/a;South American;Indigenous (such as Native American or Indigenous Australian)'
 'White;European;North American;Multiracial;Biracial;Indigenous (such as Native American or Indigenous Australian)'
 'White;Asian;Southeast Asian;Multiracial;Biracial'
 'White;Or, in your own words:;African;Hispanic or Latino/a;South American;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'White;European;Central American;Biracial'
 'White;Biracial;Indigenous (such as Native American or Indigenous Australian)'
 'White;North American;Indigenous (such as Native American or Indigenous Australian)'
 'North American;Central American'
 'White;Caribbean;Central American;Hispanic or Latino/a'
 'European;North American;Hispanic or Latino/a'
 'Black;Hispanic or Latino/a;South American' 'Black;Biracial'
 'Black;South American;Multiracial;Biracial'
 'Or, in your own words:;European;Indigenous (such as Native American or Indigenous Australian)'
 'European;Pacific Islander'
 'European;Asian;Hispanic or Latino/a;Multiracial'
 'Indian;Asian;Central Asian' 'Or, in your own words:;Indian'
 'European;Hispanic or Latino/a;Multiracial;Biracial'
 'European;Hispanic or Latino/a;Biracial'
 'White;Or, in your own words:;European;Middle Eastern'
 'Middle Eastern;African;North African' 'European;Black;Caribbean'
 'Or, in your own words:;Middle Eastern;Ethnoreligious group'
 'Caribbean;Hispanic or Latino/a;Multiracial'
 'Caribbean;Central American;Hispanic or Latino/a'
 'Hispanic or Latino/a;South American;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'European;East Asian;South American;Biracial' 'Asian;Central Asian'
 'African;Biracial' 'White;Middle Eastern;East Asian'
 'Southeast Asian;Multiracial;Biracial'
 'Middle Eastern;Asian;Southeast Asian'
 'Hispanic or Latino/a;South American;Multiracial;Biracial'
 'White;Central Asian'
 'Asian;East Asian;Southeast Asian;South Asian;Multiracial;Central Asian'
 'White;Asian;East Asian;Biracial'
 'European;Hispanic or Latino/a;Multiracial'
 'White;Or, in your own words:;Middle Eastern'
 'White;European;Asian;Multiracial;Central Asian'
 'Or, in your own words:;Caribbean;Hispanic or Latino/a;South American;Multiracial'
 'White;Middle Eastern;Ethnoreligious group' 'European;North African'
 'Middle Eastern;Asian;East Asian'
 'White;European;African;Indigenous (such as Native American or Indigenous Australian)'
 'Middle Eastern;African;Black'
 'European;Indigenous (such as Native American or Indigenous Australian)'
 'White;Or, in your own words:;Pacific Islander'
 'Hispanic or Latino/a;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'Black;Caribbean;Hispanic or Latino/a'
 'European;Black;Multiracial;Biracial' 'European;Middle Eastern;African'
 'White;Middle Eastern;African'
 'Asian;East Asian;Southeast Asian;Biracial' 'European;Black;Biracial'
 'Asian;Black;South Asian' 'Or, in your own words:;European;Asian'
 'European;North American;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'North American;Indigenous (such as Native American or Indigenous Australian)'
 'White;North American;Middle Eastern' 'North American;Black'
 'Or, in your own words:;North American;Asian;South American;Multiracial;Biracial'
 'North American;Middle Eastern'
 'White;European;Black;Hispanic or Latino/a;South American;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'Multiracial;Indigenous (such as Native American or Indigenous Australian);Pacific Islander'
 'Southeast Asian;Multiracial'
 'Asian;East Asian;Indigenous (such as Native American or Indigenous Australian)'
 'White;Or, in your own words:;Indigenous (such as Native American or Indigenous Australian)'
 'White;Or, in your own words:;Black;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'White;North American;Asian' 'Or, in your own words:;Asian;East Asian'
 'White;Indian;European;Middle Eastern;Multiracial'
 'European;Middle Eastern;Ethnoreligious group'
 'Asian;Indigenous (such as Native American or Indigenous Australian)'
 'European;Asian;Biracial'
 'White;Or, in your own words:;European;Ethnoreligious group'
 'South American;Biracial'
 'White;African;Black;Caribbean;Multiracial;Biracial'
 'Multiracial;Biracial' 'White;European;Middle Eastern;Multiracial'
 'Black;Indigenous (such as Native American or Indigenous Australian)'
 'Asian;Pacific Islander'
 'White;Ethnoreligious group;Hispanic or Latino/a'
 'White;European;Ethnoreligious group;Hispanic or Latino/a;South American'
 'White;European;Hispanic or Latino/a;South American;Multiracial'
 'White;North American;Asian;Biracial' 'White;European;Caribbean'
 'European;Southeast Asian;Biracial'
 'White;European;Hispanic or Latino/a;South American;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'Or, in your own words:;South American'
 'White;North American;Asian;Multiracial;Pacific Islander'
 'White;North American;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'European;Middle Eastern;South American' 'Caribbean;South American'
 'White;North American;East Asian;Black;Multiracial'
 'Middle Eastern;Hispanic or Latino/a'
 'White;Caribbean;Hispanic or Latino/a;South American'
 'European;Ethnoreligious group' 'Asian;Southeast Asian;Biracial'
 'Central American;Indigenous (such as Native American or Indigenous Australian)'
 'White;European;North American;Middle Eastern;Ethnoreligious group;African;Asian;North African;Hispanic or Latino/a'
 'Black;Hispanic or Latino/a;South American;Multiracial'
 'Central American;Hispanic or Latino/a;Multiracial'
 'White;Or, in your own words:;Hispanic or Latino/a'
 'White;North American;Ethnoreligious group'
 'White;European;North American;Central American;Multiracial'
 'Asian;Black;Biracial'
 'White;Ethnoreligious group;Hispanic or Latino/a;Multiracial'
 'White;North American;Biracial' 'White;Asian;East Asian'
 'White;Middle Eastern;Indigenous (such as Native American or Indigenous Australian)'
 'Or, in your own words:;European;Biracial'
 'European;Caribbean;Hispanic or Latino/a'
 'White;European;Middle Eastern;Multiracial;Biracial'
 'North American;Asian;East Asian;South Asian'
 'Hispanic or Latino/a;Biracial' 'White;Indian;Multiracial'
 'White;Black;Caribbean;South Asian;Biracial' 'White;Asian;South American'
 'African;Caribbean;Hispanic or Latino/a'
 'White;North American;Southeast Asian;Biracial' 'White;Black;Multiracial'
 'Or, in your own words:;Hispanic or Latino/a'
 'Black;Hispanic or Latino/a;South American;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'White;Asian;Hispanic or Latino/a' 'Southeast Asian;Biracial'
 'European;North American;Multiracial' 'Asian;Black'
 'Caribbean;Hispanic or Latino/a;South American;Multiracial'
 'White;Or, in your own words:;European;Multiracial'
 'African;Black;Biracial' 'African;Multiracial' 'European;African;Black'
 'European;East Asian' 'European;Middle Eastern;Asian'
 'Or, in your own words:;African;Indigenous (such as Native American or Indigenous Australian)'
 'European;North African;Multiracial'
 'Indian;Middle Eastern;Asian;Black;South Asian'
 'Indian;European;Multiracial;Biracial'
 'Asian;East Asian;Southeast Asian;South Asian'
 'White;European;Caribbean;Hispanic or Latino/a;Multiracial'
 'European;Asian;Southeast Asian;Biracial'
 'White;Black;Hispanic or Latino/a;South American;Multiracial'
 'Asian;Central American;Hispanic or Latino/a'
 'European;East Asian;Hispanic or Latino/a'
 'White;Asian;East Asian;Hispanic or Latino/a;Multiracial'
 'White;North American;Caribbean;Hispanic or Latino/a'
 'White;European;North American;Multiracial' 'North American;Asian'
 'White;European;North American;Ethnoreligious group'
 'White;Indian;North American;Biracial'
 'Or, in your own words:;European;North American'
 'White;Asian;East Asian;Multiracial;Biracial'
 'White;Hispanic or Latino/a;Pacific Islander'
 'Ethnoreligious group;Hispanic or Latino/a;Biracial'
 'Black;Hispanic or Latino/a;Multiracial;Indigenous (such as Native American or Indigenous Australian)'
 'White;Hispanic or Latino/a;South American;Multiracial;Biracial'
 'Indian;European;North American;Middle Eastern;Ethnoreligious group;African;Asian;East Asian;Black;Caribbean;Southeast Asian;Central American;North African;Hispanic or Latino/a;South American;South Asian;Multiracial;Biracial;Indigenous (such as Native American or Indigenous Australian);Pacific Islander;Central Asian'
 'Indian;Black' 'African;Black;North African' 'European;Asian;Multiracial'
 'White;European;Black;Caribbean;Biracial'
 'Or, in your own words:;Biracial'
 'White;Caribbean;Hispanic or Latino/a;Multiracial;Biracial;Indigenous (such as Native American or Indigenous Australian)'
 'European;East Asian;Multiracial'
 'North American;Hispanic or Latino/a;Multiracial'
 'White;Southeast Asian;Multiracial'
 'European;Caribbean;Hispanic or Latino/a;Biracial'
 'White;North American;Hispanic or Latino/a;Indigenous (such as Native American or Indigenous Australian)'
 'White;Or, in your own words:;European;Hispanic or Latino/a'
 'European;Central American;Hispanic or Latino/a;Multiracial'
 'Caribbean;Multiracial' 'South American;South Asian'

In [210]:
df.loc[:,'Ethnicity'] = pd.factorize(df['Ethnicity'])[0] + 1

In [211]:
#let's display all unique values in 'Accessibility' column
print('Accessibility: ', df['Accessibility'].unique())

Accessibility:  ['None of the above' 'I am deaf / hard of hearing' 'Prefer not to say'
 'Or, in your own words:' 'I am blind / have difficulty seeing'
 'I am deaf / hard of hearing;I am unable to / find it difficult to walk or stand without assistance'
 'I am unable to / find it difficult to type'
 'I am unable to / find it difficult to walk or stand without assistance'
 'I am deaf / hard of hearing;I am blind / have difficulty seeing'
 'Or, in your own words:;I am unable to / find it difficult to walk or stand without assistance'
 'I am blind / have difficulty seeing;I am unable to / find it difficult to walk or stand without assistance'
 'Or, in your own words:;I am deaf / hard of hearing'
 'I am blind / have difficulty seeing;I am unable to / find it difficult to type'
 'I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance'
 'Or, in your own words:;I am blind / have difficulty seeing'
 'I am deaf / hard of hearing;I am unable to / find it difficult to type'
 'I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type'
 'Or, in your own words:;I am unable to / find it difficult to type'
 'Or, in your own words:;I am blind / have difficulty seeing;I am unable to / find it difficult to type']

In [212]:
df.loc[:,'Accessibility'] = pd.factorize(df['Accessibility'])[0] + 1

In [214]:
#let's display all unique values in 'MentalHealth' column
print('MentalHealth: ', df['MentalHealth'].unique())

MentalHealth:  ['I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.)'
 'None of the above'
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder'
 'I have an anxiety disorder'
 'I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 'Prefer not to say'
 "I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have an anxiety disorder;I have a concentration and/or memory disorder (e.g., ADHD, etc.)'
 'I have a concentration and/or memory disorder (e.g., ADHD, etc.)'
 "I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'Or, in your own words:;I have a concentration and/or memory disorder (e.g., ADHD, etc.)'
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;I have a concentration and/or memory disorder (e.g., ADHD, etc.)'
 "I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'Or, in your own words:'
 "I have an anxiety disorder;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have a concentration and/or memory disorder (e.g., ADHD, etc.)'
 "I have an anxiety disorder;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 "Or, in your own words:;I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 'I have an anxiety disorder;Or, in your own words:'
 'I have an anxiety disorder;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 'I have an anxiety disorder;I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);Or, in your own words:'
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);Or, in your own words:;I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 "I have an anxiety disorder;I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);Or, in your own words:;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;Or, in your own words:'
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);Or, in your own words:;I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "Or, in your own words:;I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;Or, in your own words:;I have a concentration and/or memory disorder (e.g., ADHD, etc.)'
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);Or, in your own words:;I have a concentration and/or memory disorder (e.g., ADHD, etc.)'
 'Or, in your own words:;I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 "Or, in your own words:;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have an anxiety disorder;Or, in your own words:;I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;Or, in your own words:;I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "Or, in your own words:;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;I have learning differences (e.g., Dyslexic, Dyslexia, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"
 'I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;Or, in your own words:;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have learning differences (e.g., Dyslexic, Dyslexia, etc.)'
 'I have an anxiety disorder;Or, in your own words:;I have a concentration and/or memory disorder (e.g., ADHD, etc.)'
 "I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder;Or, in your own words:;I have a concentration and/or memory disorder (e.g., ADHD, etc.);I have autism / an autism spectrum disorder (e.g. Asperger's, etc.)"]

In [215]:
df.loc[:,'MentalHealth'] = pd.factorize(df['MentalHealth'])[0] + 1

In [216]:
#let's display all unique values in 'WorkExp' column
print('WorkExp: ', df['WorkExp'].unique())

WorkExp:  [14.  5.  4. 23.  9. 22. 21.  6.  3. 28.  7.  8.  2. 20. 27. 10. 19.  1.
 13. 30. 12. 15. 11. 17. 46. 25. 18. 24. 31.  0. 40. 16. 35. 32. 26. 36.
 42. 38. 29. 33. 37. 34. 41. 44. 50. 45. 39. 43. 47. 48. 49.]

In [217]:
# let's group all year of work experiece into 5 groups: less than 5 year, from 5 to 10, from 11 to 20, from 21 to 40 
# and more than 40

def process_age(age):
    age = int(age)
    age = int(age)
    if age <5:
        return(0)
    elif (age >= 5 and age <=10):
        return(1)
    elif (age>10 and age <=20):
        return (2)
    elif (age>20 and age <=40):
        return (3)
    else:
        return(4)

# Apply the function to the column and create a new column
df.loc[:,'WorkExp'] = df['WorkExp'].apply(process_age)

In [219]:
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,WorkExp,ConvertedCompYearly
11,12,1,1,1,1,3,10,1,1,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,1,1,1,1,1,1,1,2.0,194400.0
12,13,2,2,2,1,3,5,2,1,C;HTML/CSS;Rust;SQL;Swift;TypeScript,2,1,1,1,1,1,2,1.0,65000.0
14,15,2,1,1,2,3,5,3,1,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,2,1,1,1,1,1,2,1.0,110000.0
21,22,2,2,2,2,2,4,1,2,Python;SQL;TypeScript,2,1,1,1,2,1,2,0.0,34126.0
22,23,2,2,1,3,4,20,4,3,C#;SQL;TypeScript,1,1,1,1,3,1,2,3.0,97605.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,2,2,1,1,3,9,1,3,C#;HTML/CSS;JavaScript;TypeScript,2,2,1,1,3,1,2,1.0,60906.0
73112,73113,2,2,2,1,2,3,5,24,HTML/CSS;Java;JavaScript,2,1,1,1,2,1,2,0.0,52255.0
73113,73114,2,2,1,2,2,5,5,1,C;C#;C++,2,1,1,1,1,1,9,1.0,94000.0
73116,73117,2,2,2,1,4,16,9,1,C#;HTML/CSS;Java;JavaScript,1,1,1,1,1,1,2,2.0,115000.0
73119,73120,2,2,2,1,2,1,3,1,C#;HTML/CSS;JavaScript;SQL;TypeScript,2,1,1,1,1,4,9,1.0,70000.0

### the following 2 functions will make new columns with the names of all languages and write 1, if person knows this language and 0 otherwise

In [221]:
# function that return 1 person knows each language in the list and 0 otherwise
def process_list(lst):
    languages = ['C#', 'C', 'HTML/CSS', 'Python' ,'Dart' ,'Bash/Shell' ,'JavaScript' ,'Java',
 'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal' ,'PHP' ,'Delphi' ,'C++',
 'Clojure' ,'Kotlin', 'APL', 'Rust' ,'TypeScript', 'COBOL' ,'PowerShell' ,'Scala',
 'Elixir', 'F#' ,'LISP' ,'Ruby', 'Julia' ,'MATLAB', 'Objective-C' ,'Erlang',
 'Swift', 'Fortran', 'OCaml' ,'R' ,'SQL', 'Perl' ,'Lua' ,'VBA']
    result = ""
    lst = lst.split(';')
    for lang in languages:
        if lang in lst:
            result += "1,"
        else:
            result += "0,"
    return result[:-1]  # Remove the trailing comma


# Apply the function to the column and create a new column
df.loc[:,'new_column'] = df['LanguageHaveWorkedWith'].apply(process_list)

In [223]:
## add new colums with languges names


# Specifying the column names
column_names = ['C#', 'C', 'HTML/CSS', 'Python', 'Dart', 'Bash/Shell', 'JavaScript', 'Java',
                'Haskell', 'Assembly', 'Go', 'Groovy', 'Crystal', 'PHP', 'Delphi', 'C++',
                'Clojure', 'Kotlin', 'APL', 'Rust', 'TypeScript', 'COBOL', 'PowerShell',
                'Scala', 'Elixir', 'F#', 'LISP', 'Ruby', 'Julia', 'MATLAB', 'Objective-C',
                'Erlang', 'Swift', 'Fortran', 'OCaml', 'R', 'SQL', 'Perl', 'Lua', 'VBA']


# Splitting the 'new_column' and assigning to the new DataFrame
df[column_names] = df['new_column'].str.split(',', expand=True)

df[column_names] = df[column_names].astype(int)

In [224]:
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,LanguageHaveWorkedWith,...,Objective-C,Erlang,Swift,Fortran,OCaml,R,SQL,Perl,Lua,VBA
11,12,1,1,1,1,3,10,1,1,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,...,0,0,0,0,0,0,1,0,0,0
12,13,2,2,2,1,3,5,2,1,C;HTML/CSS;Rust;SQL;Swift;TypeScript,...,0,0,1,0,0,0,1,0,0,0
14,15,2,1,1,2,3,5,3,1,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,...,0,0,0,0,0,1,0,0,0,0
21,22,2,2,2,2,2,4,1,2,Python;SQL;TypeScript,...,0,0,0,0,0,0,1,0,0,0
22,23,2,2,1,3,4,20,4,3,C#;SQL;TypeScript,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,2,2,1,1,3,9,1,3,C#;HTML/CSS;JavaScript;TypeScript,...,0,0,0,0,0,0,0,0,0,0
73112,73113,2,2,2,1,2,3,5,24,HTML/CSS;Java;JavaScript,...,0,0,0,0,0,0,0,0,0,0
73113,73114,2,2,1,2,2,5,5,1,C;C#;C++,...,0,0,0,0,0,0,0,0,0,0
73116,73117,2,2,2,1,4,16,9,1,C#;HTML/CSS;Java;JavaScript,...,0,0,0,0,0,0,0,0,0,0
73119,73120,2,2,2,1,2,1,3,1,C#;HTML/CSS;JavaScript;SQL;TypeScript,...,0,0,0,0,0,0,1,0,0,0

In [132]:
print(df.head(0))

Empty DataFrame
Columns: [ResponseId, MainBranch, Employment, RemoteWork, EdLevel, YearsCode, YearsCodePro, OrgSize, Country, LanguageHaveWorkedWith, Age, Gender, Trans, Sexuality, Ethnicity, Accessibility, MentalHealth, WorkExp, ConvertedCompYearly, new_column, C#, C, HTML/CSS, Python, Dart, Bash/Shell, JavaScript, Java, Haskell, Assembly, Go, Groovy, Crystal, PHP, Delphi, C++, Clojure, Kotlin, APL, Rust, TypeScript, COBOL, PowerShell, Scala, Elixir, F#, LISP, Ruby, Julia, MATLAB, Objective-C, Erlang, Swift, Fortran, OCaml, R, SQL, Perl, Lua, VBA]
Index: []

[0 rows x 60 columns]

### now let's drop unuseful columns again

In [225]:
df = df.drop(columns=['LanguageHaveWorkedWith', 'new_column', 'YearsCodePro'])

In [226]:
df

,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,OrgSize,Country,Age,Gender,...,Objective-C,Erlang,Swift,Fortran,OCaml,R,SQL,Perl,Lua,VBA
11,12,1,1,1,1,3,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
12,13,2,2,2,1,3,2,1,2,1,...,0,0,1,0,0,0,1,0,0,0
14,15,2,1,1,2,3,3,1,2,1,...,0,0,0,0,0,1,0,0,0,0
21,22,2,2,2,2,2,1,2,2,1,...,0,0,0,0,0,0,1,0,0,0
22,23,2,2,1,3,4,4,3,1,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73110,73111,2,2,1,1,3,1,3,2,2,...,0,0,0,0,0,0,0,0,0,0
73112,73113,2,2,2,1,2,5,24,2,1,...,0,0,0,0,0,0,0,0,0,0
73113,73114,2,2,1,2,2,5,1,2,1,...,0,0,0,0,0,0,0,0,0,0
73116,73117,2,2,2,1,4,9,1,1,1,...,0,0,0,0,0,0,0,0,0,0
73119,73120,2,2,2,1,2,3,1,2,1,...,0,0,0,0,0,0,1,0,0,0

In [227]:
# import cleaned data into new file "CleanedData"
df1 = df
df1.to_csv('CleanedData.csv')